<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <h:form>
            <h:panelGrid columns="4" cellpadding="5">
                <p:photoCam widgetVar="pc" listener="#{photoCamView.oncapture}" update="photo"/>
                <p:commandButton type="button" value="Capturar"  onclick="PF('pc').capture()" />
                <p:outputPanel id="photo">
                    <p:graphicImage value="#{photoCamView.imagenPreCargada}" rendered="#{not empty photoCamView.imagenPreCargada}" cache="false" />
                </p:outputPanel>

                <p:commandButton icon="fa fa-check" action="#{photoCamView.establecerNavegacion()}" value="Confirmar" />
            </h:panelGrid>
        </h:form>

    </ui:define>

</ui:composition>