<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">

        <h:form enctype="multipart/form-data">
            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="card card-w-title">
                        <div class="ui-g-12">
                            <h:panelGrid columns="4" cellpadding="5">
                                <p:fileUpload fileUploadListener="#{photoCamView.handleFileUpload}"  mode="advanced" auto="true"  label="Selecciona la imagen"  update="photo"/>
                            </h:panelGrid>
                            <p:outputPanel id="photo">
                                <p:graphicImage value="#{photoCamView.imagenPreCargada}" rendered="#{not empty photoCamView.imagenPreCargada}" cache="false"  height="350"/>
                            </p:outputPanel>
                        </div>
                        <p:commandButton icon="fa fa-check" action="#{photoCamView.establecerNavegacion()}"  value="Confirmar"/>
                    </div>
                </div>
            </div>
        </h:form>

    </ui:define>

</ui:composition>