<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <title>Parametrizacion de  Clientes</title>
        <h:form>
            <f:metadata>
                <f:viewParam name="idCliente" value="#{beanParametrizacionClientes.idCliente}"/>
                <f:viewAction action="#{beanParametrizacionClientes.cargarInformacionCliente()}"/>  
            </f:metadata>
            <p:growl id="message" showDetail="true"  />

            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="card card-w-title">
                        <div class="ui-g-12 ui-md-6 text-center">
                            <h1>Actualizar Cliente</h1>
                            <p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText  type="text" value="#{beanParametrizacionClientes.clienteElegido.nombreContacto}" />
                                    <label>Nombre Contacto :  </label>

                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionClientes.clienteElegido.nitCedula}" />
                                    <label>Nit / Cedula :</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionClientes.clienteElegido.razonSocial}" />
                                    <label>Razon Social : </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionClientes.clienteElegido.email}" />
                                    <label>Email </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionClientes.clienteElegido.cargo}" />
                                    <label>Cargo </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionClientes.clienteElegido.direccion}" />
                                    <label>Direccion </label>
                                </h:panelGroup>
                            </p:panelGrid>
                        </div>
                        <div class="ui-g-12 ui-md-6 text-center">
                            <h3>
                                Administracion de Permisos
                            </h3>
                            <br></br>
                            <br></br>
                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <p:pickList id="PojoPickList" value="#{beanParametrizacionClientes.sedesPick}" var="sede" effect="fold" converter="sedes"
                                            itemValue="#{sede}" itemLabel="#{sede}" showSourceFilter="true"  showTargetFilter="true"
                                            filterMatchMode="contains">

                                    <f:facet name="sourceCaption">Sedes Disponibles</f:facet>
                                    <f:facet name="targetCaption">Sedes Usadas</f:facet>

                                    <p:column style="width:85%;">
                                        <h:outputText value="#{sede.nombre}" />
                                    </p:column>
                                </p:pickList>
                            </p:panelGrid>
                        </div>
                        <div class="card cardWithOutBox">
                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <p:commandButton  value="Actualizar" icon="ui-icon-send"  actionListener="#{beanParametrizacionClientes.actualizarCliente()}" iconPos="left" style="width:100%" action="GestionClientes"  />
                            </p:panelGrid>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>

    </ui:define>

</ui:composition>