<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Gestion De Receta de ensamble</ui:define>

    <ui:define name="content">
        <h:form>
            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="card card-w-title">
                        <div class="ui-g-12">
                            <p:growl id="messages" autoUpdate="true" showDetail="true" globalOnly="true"/>
                            <div class="ui-g-12">
                                <p:dataTable id="tblRecetaEnsamble" value="#{beanGestionRecetaEnsamble.listRecetaEnsamble}"  
                                             filterBy="#{beanGestionRecetaEnsamble.listRecetaEnsambleFilter}"
                                             paginator="true" rows="10" 
                                             selection="#{beanGestionRecetaEnsamble.recetaDeEnsamble}" 
                                             selectionMode="single" var="recetaEnsamble" rowKey="#{recetaEnsamble.idReceta}">
                                    <f:facet name="header">
                                        Gestion  Orden de compra
                                    </f:facet>
                                    <p:column headerText="Acciones">
                                        <p:button outcome="GestionParametrizacionRecetaEnsamble" icon="fa fa-pencil" >
                                            <f:param name="idRecetaEnsamble" value="#{recetaEnsamble.idReceta}"/>
                                        </p:button>
                                        <p:commandButton icon="fa fa-ban" action="#{beanGestionRecetaEnsamble.inactivarRecetaEnsamble(recetaEnsamble)}" update="@form" >
                                            <p:confirm header="Confirmacion" message="Esta seguro de inactivar esta receta?" icon="fa fa-exclamation-triangle" />
                                        </p:commandButton>
                                    </p:column>
                                    <p:column headerText="Nombre receta">
                                        <p:outputLabel value="#{recetaEnsamble.nombreReceta}"/>
                                    </p:column> 
                                    <p:column headerText="Fecha">
                                        <p:outputLabel value="#{recetaEnsamble.fechaCreacion}">
                                            <f:convertDateTime pattern="yyyy-MM-dd" />
                                        </p:outputLabel>
                                    </p:column>
                                    <p:column headerText="Estado">
                                        <p:outputLabel value="#{recetaEnsamble.estado == true ? 'Activo' : 'Inactivo'}"/>
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
