<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Parametrizacion De Proveedores</ui:define>

    <ui:define name="content">
        <h:form>
            <f:metadata>
                <f:viewParam name="idProveedor" value="#{beanParametrizacionProveedores.idProveedor}"/>
                <f:viewAction action="#{beanParametrizacionProveedores.cargarInformacionProveedor()}"/>  
            </f:metadata>
            <div class="ui-fluid">

                <div class="ui-g">
                    <div class="card card-w-title">

                        <div class="ui-g-12 ui-md-6 text-center">
                            <h3>
                                Administracion de proveedor
                            </h3>
                            <br></br>
                            <br></br>
                            <p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText  type="text" value="#{beanParametrizacionProveedores.proveedorAModificar.nit}" required="true" />
                                    <label>Nit : </label>

                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionProveedores.proveedorAModificar.nombreContacto}" />
                                    <label>Nombre Contacto: </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionProveedores.proveedorAModificar.razonSocial}" />
                                    <label>Razon Social: </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionProveedores.proveedorAModificar.correo}" />
                                    <label>Correo: </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionProveedores.proveedorAModificar.telefonoContacto}" />
                                    <label>Telefono Contacto: </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionProveedores.proveedorAModificar.direccion}" />
                                    <label>Direccion </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:selectOneMenu value="#{beanParametrizacionProveedores.proveedorAModificar.ciudad.ciudad}" converter="omnifaces.SelectItemsConverter">
                                        <f:selectItems value="#{beanParametrizacionProveedores.ciudades}" var="city" itemLabel="#{city.ciudad}" itemValue="#{city}"/>
                                    </p:selectOneMenu> 
                                    <label>Ciudad </label>
                                </h:panelGroup>
                            </p:panelGrid>
                        </div>
                        <div class="ui-g-12 ui-md-6 text-center">
                            <h3>
                                Administracion de productos
                            </h3>
                            <br></br>
                            <br></br>
                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <p:pickList id="pickPermisos" value="#{beanParametrizacionProveedores.productosXProveedores}" var="producto" itemLabel="#{producto}" itemValue="#{producto}" converter="productos"
                                            responsive="true" showSourceFilter="true"  showTargetFilter="true"
                                            filterMatchMode="contains" >

                                    <f:facet name="sourceCaption">Productos disponibles</f:facet>
                                    <f:facet name="targetCaption">Productos concedidos</f:facet>
                                    <p:column style="width:85%;">
                                        <h:outputText value="#{producto.descripcion}" />
                                    </p:column>
                                </p:pickList>                
                            </p:panelGrid>
                        </div>
                        <div class="ui-g-12 text-center">
                            <p:commandButton value="Guardar" actionListener="#{beanParametrizacionProveedores.actualizarProveedor()}" action="/GestionProveedores" />
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
