<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Gestion De Sedes</ui:define>

    <ui:define name="content">
        <h:form>
            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <p:growl id="messages" autoUpdate="true" showDetail="true" globalOnly="true"/>
                        <div class="card card-w-title">
                            <p:dataTable id="tblSedes" value="#{beanGestionSedes.listSedes}"  
                                         filterBy="#{beanGestionSedes.listSedesFilter}"
                                         paginator="true" rows="10" 
                                         selection="#{beanGestionSedes.sedeSelection}" 
                                         selectionMode="single" var="sede" rowKey="#{sede}">
                                <f:facet name="header">
                                    Gestion de Sedes
                                </f:facet>
                                <p:column headerText="Acciones">
                                    <p:button outcome="GestionParametrizacionSedes" icon="fa fa-pencil" >
                                        <f:param name="idSede" value="#{sede.idSede}"/>
                                    </p:button>
                                    <p:commandButton icon="fa fa-ban" action="#{beanGestionSedes.inactivarSede(sede)}" update="@form" >
                                        <p:confirm header="Confirmacion" message="Esta seguro de inactivar esta sede?" icon="fa fa-exclamation-triangle" />
                                    </p:commandButton>
                                </p:column>
                                <p:column headerText="Nombre">
                                    <p:outputLabel value="#{sede.nombre}"/>
                                </p:column>
                                <p:column headerText="Ciudad">
                                    <p:outputLabel value="#{sede.ciudad.ciudad}"/>
                                </p:column>
                                <p:column headerText="Direccion">
                                    <p:outputLabel value="#{sede.direccion}"/>
                                </p:column>
                                <p:column headerText="Resposable">
                                    <p:outputLabel value="#{sede.usuario.nombres} #{sede.usuario.apellidos}"/>
                                </p:column>
                                <p:column headerText="Telefono">
                                    <p:outputLabel value="#{sede.telefono}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
