<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Gestion De Productos</ui:define>

    <ui:define name="content">
        <style type="text/css">
            .compra {
                background-color: #3028c6 !important;
                background-image: none !important;
                color: #000000 !important;
            }
            .venta {
                background-color: #C62828 !important;
                background-image: none !important;
                color: #000000 !important;
            }
        </style>
        <h:form>
            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="card card-w-title">
                            <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <p:outputLabel value="Bodega" styleClass="fontBold" style="font-weight: bold">
                                    <p:selectOneMenu id="bodegas" converter="omnifaces.SelectItemsConverter" filter="true" filterMatchMode="startsWith" value="#{beanGestionKardex.bodega}"  >
                                        <f:selectItem itemLabel="Seleccione una opcion" itemValue="#{null}" noSelectionOption="true"/>
                                        <f:selectItems value="#{beanGestionKardex.bodegas}" var="bodega" itemLabel="#{bodega.nombre}" itemValue="#{bodega}" />
                                    </p:selectOneMenu>
                                </p:outputLabel>
                                <p:outputLabel value="Producto" styleClass="fontBold" style="font-weight: bold" >
                                    <p:selectOneMenu id="kardex" converter="omnifaces.SelectItemsConverter" filter="true" filterMatchMode="startsWith" value="#{beanGestionKardex.producto}" style="margin-bottom:10px;">
                                        <f:selectItem itemLabel="Seleccione una opcion" itemValue="#{null}" noSelectionOption="true"/>
                                        <f:selectItems value="#{beanGestionKardex.productos}" var="producto" itemLabel="${producto.descripcion}" itemValue="${producto}"/>
                                    </p:selectOneMenu>
                                </p:outputLabel>
                            </p:panelGrid>
                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <p:commandButton actionListener="#{beanGestionKardex.consultar}" update="tblProductos" value="Consultar"/>
                            </p:panelGrid>
                        </div>
                    </div>


                    <div class="card card-w-title">
                        <div class="ui-g-12">
                            <p:growl id="messages" autoUpdate="true" showDetail="true" globalOnly="true"/>
                            <div class="ui-g-12">
                                <p:dataTable id="tblProductos" sortBy="#{kardex.fechaMovimiento}" sortOrder="ascending" value="#{beanGestionKardex.kardex}"  
                                             filterBy="#{beanGestionKardex.filterKardex}"
                                             paginator="true" rows="10"  
                                             var="kardex">
                                    <f:facet name="header">
                                        Gestion de Kardex
                                    </f:facet>
                                    <p:column headerText="ID">
                                        <p:outputLabel value="#{kardex.idHistorialInventario}"/>
                                    </p:column>
                                    <p:column headerText="Fecha" sortBy="#{kardex.fechaMovimiento}" >
                                        <p:outputLabel value="#{kardex.fechaMovimiento}">
                                            <f:convertDateTime pattern="dd-MM-yy HH:mm"/>
                                        </p:outputLabel>
                                    </p:column> 
                                    <p:column headerText="Descripcion" styleClass="#{beanGestionKardex.calcularColorCeldaConcepto(kardex.concepto)}">
                                        <p:outputLabel value="#{kardex.concepto}"/>
                                    </p:column>
                                    <p:column headerText="VLR Unitario">
                                        <p:outputLabel value="#{kardex.valorUnitario}">
                                            <f:convertNumber type="currency" currencySymbol="$" integerOnly="true" maxFractionDigits="0"/>
                                        </p:outputLabel>
                                    </p:column>
                                    <p:column headerText="Cantidad Movimiento">
                                        <p:outputLabel value="#{kardex.cantidad}"/>
                                    </p:column>
                                    <p:column headerText="Valor">
                                        <p:outputLabel value="#{kardex.valor}">
                                            <f:convertNumber type="currency" currencySymbol="$" integerOnly="true" maxFractionDigits="0"/>
                                        </p:outputLabel>
                                    </p:column>
                                    <p:column headerText="Cantidad Total en Stock">
                                        <p:outputLabel value="#{kardex.cantidadTotal}"/>
                                    </p:column>
                                    <p:column headerText="Valor Total">
                                        <p:outputLabel value="#{kardex.valorTotal}">
                                            <f:convertNumber type="currency" currencySymbol="$" integerOnly="true" maxFractionDigits="0"/>
                                        </p:outputLabel>
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
