<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Gestion De Clientes</ui:define>

    <ui:define name="content">
        <h:form>
            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <p:growl id="messages"  showDetail="true" globalOnly="true" autoUpdate="true" />
                        <div class="card card-w-title">
                            <p:dataTable id="tblClientes" value="#{beanGestionClientes.listClientes}"  
                                         filterBy="#{beanGestionClientes.listClientesFilter}"
                                         paginator="true" rows="10" 
                                         selection="#{beanGestionClientes.clieteSeleccion}" 
                                         selectionMode="single" var="cliente" rowKey="#{cliente}">
                                <f:facet name="header">
                                    Gestion De Clientes
                                </f:facet>
                                <p:column headerText="Acciones">
                                    <p:button outcome="GestionParametrizacionClientes" icon="fa fa-pencil" >
                                        <f:param name="idCliente" value="#{cliente.idCliente}"/>
                                    </p:button>
                                    <p:commandButton icon="fa fa-ban" action="#{beanGestionClientes.inactivarCliente(cliente)}" update="@form" >
                                        <p:confirm header="Confirmacion" message="Esta seguro de inactivar este cliente?" icon="fa fa-exclamation-triangle" />
                                    </p:commandButton>
                                </p:column>
                                <p:column headerText="Razón Social">
                                    <p:outputLabel value="#{cliente.razonSocial}"/>
                                </p:column>
                                <p:column headerText="Nit / Cedula">
                                    <p:outputLabel value="#{cliente.nitCedula}"/>
                                </p:column>
                                <p:column headerText="Direccion">
                                    <p:outputLabel value="#{cliente.direccion}"/>
                                </p:column>
                                <p:column headerText="Cargo">
                                    <p:outputLabel value="#{cliente.cargo}"/>
                                </p:column>
                                <p:column headerText="Email">
                                    <p:outputLabel value="#{cliente.email}"/>
                                </p:column>
                                <p:column headerText="Nombre de contacto">
                                    <p:outputLabel value="#{cliente.nombreContacto}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
