
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Gestion De Bodegas</ui:define>

    <ui:define name="content">
        <h:form>
            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <p:growl id="messages" autoUpdate="true" showDetail="true" globalOnly="true"/>
                        <div class="card card-w-title">
                            <p:dataTable id="tblBodegas" value="#{beanGestionBodegas.listBodegas}"  
                                         filterBy="#{beanGestionBodegas.listBodegasFilter}"
                                         paginator="true" rows="10" 
                                         selection="#{beanGestionBodegas.selectionBodega}" 
                                         selectionMode="single" var="bodega" rowKey="#{bodega.idBodega}">
                                <f:facet name="header">
                                    Gestion de Bodegas
                                </f:facet>
                                <p:column headerText="Acciones">
                                    <p:button outcome="GestionParametrizacionBodegas" icon="fa fa-pencil" >
                                        <f:param name="idBodega" value="#{bodega.idBodega}"/>
                                    </p:button>
                                    <p:commandButton icon="fa fa-ban" action="#{beanGestionBodegas.bloquearBodega(bodega)}" update="tblBodegas" >
                                        <p:confirm header="Confirmacion" message="Esta seguro de inactivar esta bodega?" icon="fa fa-exclamation-triangle" />
                                    </p:commandButton> 
                                </p:column>
                                <p:column headerText="Nombre">
                                    <p:outputLabel value="#{bodega.nombre}"/>
                                </p:column> 
                                <p:column headerText="Direccion">
                                    <p:outputLabel value="#{bodega.direccion}"/>
                                </p:column>
                                <p:column headerText="Telefono">
                                    <p:outputLabel value="#{bodega.telefono}"/>
                                </p:column>
                                <p:column headerText="Sede">
                                    <p:outputLabel value="#{bodega.sede.nombre}"/>
                                </p:column>
                                <p:column headerText="Responsable">
                                    <p:outputLabel value="#{bodega.usuario.nombres} #{bodega.usuario.apellidos}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
