<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Parametrizacion De Sedes</ui:define>

    <ui:define name="content">
        <h:form>
            <f:metadata>
                <f:viewParam name="idSede" value="#{beanGestionParametrizacionSedes.idSede}"/>
                <f:viewAction action="#{beanGestionParametrizacionSedes.cargarSedeAModificar()}"/>  
            </f:metadata>
            <div class="ui-fluid">

                    <div class="card card-w-title">

                            <h3>
                                Administracion de sedes
                            </h3>
                            <br></br>
                            <br></br>
                            <p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText  type="text" value="#{beanGestionParametrizacionSedes.sedeAModificar.nombre}" />
                                    <label>Nombre : </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanGestionParametrizacionSedes.sedeAModificar.direccion}" />
                                    <label>Direccion </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanGestionParametrizacionSedes.sedeAModificar.telefono}" />
                                    <label>Telefono </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:selectOneMenu value="#{beanGestionParametrizacionSedes.sedeAModificar.ciudad}" converter="omnifaces.SelectItemsConverter" >
                                        <f:selectItems value="#{beanGestionParametrizacionSedes.ciudades}" var="ciudad" itemLabel="#{ciudad.ciudad}" itemValue="#{ciudad}" />
                                    </p:selectOneMenu>
                                    <label>Ciudad : </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:selectOneMenu value="#{beanGestionParametrizacionSedes.sedeAModificar.usuario}" converter="omnifaces.SelectItemsConverter" >
                                        <f:selectItems value="#{beanGestionParametrizacionSedes.usuarios}" var="user" itemLabel="#{user.nombres} #{user.apellidos}" itemValue="#{user}" />
                                    </p:selectOneMenu>
                                    <label>Responsable :</label>
                                </h:panelGroup>
                            </p:panelGrid>
                        </div>
                        <div class="ui-g-12 text-center">
                            <p:commandButton value="Guardar" actionListener="#{beanGestionParametrizacionSedes.actualizarSede()}" action="GestionSedes" />
                        </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
