<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Gestion De Productos</ui:define>

    <ui:define name="content">
        <h:form>
            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="card card-w-title">
                        <div class="ui-g-12">
                            <p:growl id="messages" autoUpdate="true" showDetail="true" globalOnly="true"/>
                            <div class="ui-g-12">
                                <p:dataTable id="tblProductos" value="#{beanGestionProductos.listProductos}"  
                                             filterBy="#{beanGestionProductos.listProductosFilter}"
                                             paginator="true" rows="10" 
                                             reflow="true"
                                             selection="#{beanGestionProductos.selectionProducto}" 
                                             selectionMode="single" var="producto" rowKey="#{producto.idProducto}">
                                    <f:facet name="header">
                                        Gestion de Productos
                                    </f:facet>
                                    <p:column headerText="Acciones">
                                        <p:button outcome="GestionParametrizacionProductos" icon="fa fa-pencil" >
                                            <f:param name="idProducto" value="#{producto.idProducto}"/>
                                        </p:button>
                                        <p:commandButton icon="fa fa-ban" action="#{beanGestionProductos.inactivarProducto(producto)}" update="tblProductos" >
                                            <p:confirm header="Confirmacion" message="Esta seguro de inactivar este Producto?" icon="fa fa-exclamation-triangle" />
                                        </p:commandButton>
                                    </p:column>
                                    <p:column headerText="Descripcion">
                                        <p:outputLabel value="#{producto.descripcion}"/>
                                    </p:column> 
                                    <p:column headerText="Marca">
                                        <p:outputLabel value="#{producto.marca}"/>
                                    </p:column>
                                    <p:column headerText="Modelo">
                                        <p:outputLabel value="#{producto.modelo}"/>
                                    </p:column>
                                    <p:column headerText="Codigo">
                                        <p:outputLabel value="#{producto.codigo}"/>
                                    </p:column>
                                    <p:column headerText="Creado por receta">
                                        <p:selectBooleanCheckbox value="#{producto.recetaReferenciada == null ? false : true}"/>
                                    </p:column>
                                    <p:column headerText="Stock Minimo">
                                        <p:selectBooleanCheckbox value="#{producto.stockMinimo != 0 ? true : false}"/>
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
