<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Parametrizacion De Proveedores</ui:define>

    <ui:define name="content">
        <h:form>
            <f:metadata>
                <f:viewParam name="idBodega" value="#{beanParametrizacionBodegas.idBodega}"/>
                <f:viewAction action="#{beanParametrizacionBodegas.cargarInformacionBodega()}"/>  
            </f:metadata>
            <div class="ui-fluid">

                <div class="ui-g">
                    <div class="card card-w-title">

                        <div class="ui-g-12 ui-md-12 text-center">
                            <h3>
                                Administracion de bodegas
                            </h3>
                            <br></br>
                            <br></br>
                            <p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText  type="text" value="#{beanParametrizacionBodegas.bodegaAModificar.nombre}" required="true" />
                                    <label>Nombre : </label>

                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionBodegas.bodegaAModificar.direccion}" />
                                    <label>Direccion </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionBodegas.bodegaAModificar.telefono}" />
                                    <label>Telefono </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:selectOneMenu value="#{beanParametrizacionBodegas.bodegaAModificar.sede}" converter="omnifaces.SelectItemsConverter" >
                                        <f:selectItems value="#{beanParametrizacionBodegas.sedes}" var="sede" itemLabel="#{sede.nombre}" itemValue="#{sede}" />
                                    </p:selectOneMenu>
                                    <label>Sede : </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:selectOneMenu value="#{beanParametrizacionBodegas.bodegaAModificar.usuario}" converter="omnifaces.SelectItemsConverter" >
                                        <f:selectItems value="#{beanParametrizacionBodegas.usuarios}" var="user" itemLabel="#{user.nombres} #{user.apellidos}" itemValue="#{user}" />
                                    </p:selectOneMenu>
                                    <label>Responsable: </label>
                                </h:panelGroup>
                            </p:panelGrid>
                        </div>
                        <div class="ui-g-12 text-center">
                            <p:commandButton value="Guardar" actionListener="#{beanParametrizacionBodegas.actualizarBodega()}" action="GestionBodegas" />
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
