<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Parametrizacion De Usuarios</ui:define>

    <ui:define name="content">
        <h:form>
            <f:metadata>
                <f:viewParam name="idUsuario" value="#{beanParametrizacionUsuarios.idUsuario}"/>
                <f:viewAction action="#{beanParametrizacionUsuarios.cargarInformcionDeUsuario()}"/>  
            </f:metadata>
            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="card card-w-title">

                        <div class="ui-g-12 ui-md-6 text-center">
                            <h3>
                                Administracion de usuarios
                            </h3>
                            <br></br>
                            <br></br>
                            <p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText  type="text" value="#{beanParametrizacionUsuarios.usuarioAModificar.documento}"  disabled="true" />
                                    <label>Documento </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText  type="text" value="#{beanParametrizacionUsuarios.usuarioAModificar.nombres}"
                                                  required="true" requiredMessage="El campo documento es obligatorio" />
                                    <label>Nombres</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText  type="text" value="#{beanParametrizacionUsuarios.usuarioAModificar.apellidos}"
                                                  required="true" requiredMessage="El campo documento es obligatorio" />
                                    <label>Apellidos</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText  type="text" value="#{beanParametrizacionUsuarios.usuarioAModificar.cargo}"
                                                  required="true" requiredMessage="El campo documento es obligatorio" />
                                    <label>Cargo</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:password value="#{beanParametrizacionUsuarios.usuarioAModificar.password}" goodLabel="Regular" 
                                                promptLabel="Escribe una contraseña"  weakLabel="Debil"  strongLabel="Fuerte" feedback="true" redisplay="true"  inline="true" />
                                    <label>
                                        Contraseña
                                    </label>
                                </h:panelGroup>
                            </p:panelGrid>
                        </div>
                        <div class="ui-g-12 ui-md-6 text-center">
                            <h3>
                                Administracion de Permisos
                            </h3>
                            <br></br>
                            <br></br>
                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <p:pickList id="pickPermisos" value="#{beanParametrizacionUsuarios.permisosUsuario}" var="permisos" itemLabel="#{permisos}" itemValue="#{permisos}"
                                            responsive="true" showSourceFilter="true"  showTargetFilter="true" filterMatchMode="contains">

                                    <f:facet name="sourceCaption">Permisos disponibles</f:facet>
                                    <f:facet name="targetCaption">Permisos concedidos</f:facet>
                                </p:pickList>
                            </p:panelGrid>
                        </div>
                        <div class="ui-g-12 text-center">
                            <p:commandButton value="Guardar" actionListener="#{beanParametrizacionUsuarios.guardarUsuario()}" action="GestionUsuarios" />
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
