<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Parametrizacion De Proveedores</ui:define>

    <ui:define name="content">
        <h:form>
            <f:metadata>
                <f:viewParam name="idRecetaEnsamble" value="#{beanParametrizacioRecetaEnsamble.idRecetaEnsamble}"/>
                <f:viewAction action="#{beanParametrizacioRecetaEnsamble.cargarInformacionOrdenCompra()}"/>  
            </f:metadata>
            <div class="ui-fluid">

                <div class="ui-g">
                    <div class="card card-w-title">

                        <div class="ui-g-12 ui-md-12 text-center">
                            <h3>
                                Administracion Ordenes de compra
                            </h3>
                            <br></br>
                            <br></br>
                         <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputTextarea value="#{beanParametrizacioRecetaEnsamble.recetaEnsambleAModificar.nombreReceta}" />
                                    <label>Nombre Receta:</label>
                                </h:panelGroup>
                            </p:panelGrid>
                        </div>
                        <div class="ui-g-12 ui-md-12 text-center">
                             <div class="card card-w-title">

                            <h2>
                                Añadir Productos   - Total :  <p:outputLabel  id="claseAActualizar" value="#{beanParametrizacioRecetaEnsamble.totalOrden}">
                                    <f:convertNumber type="currency" />
                                </p:outputLabel>
                            </h2>
                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <p:dataTable id="tblDetalleOrdenCompra" value="#{beanParametrizacioRecetaEnsamble.recetaEnsambleAModificar.detalleReceta}"  clientCache="true" 
                                             var="detalleReceta" 
                                             rowKey="#{detalleReceta}" editable="true" editMode="cell"  resizeMode="expand" >

                                    <p:column headerText="Item" width="140">
                                        <p:outputLabel value="#{detalleReceta.item}"/>
                                    </p:column>
                                    <p:column headerText="Producto" width="190">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{detalleReceta.producto.descripcion}" /></f:facet>
                                            <f:facet name="input">

                                                <p:selectOneMenu value="#{detalleReceta.producto}" converter="omnifaces.SelectItemsConverter" filterMatchMode="startsWith" panelStyle="width:180px" filter="true"  >
                                                    <f:selectItems value="#{beanParametrizacioRecetaEnsamble.productos}" var="productos" itemLabel="#{productos.descripcion}" itemValue="#{productos}"/>
                                                </p:selectOneMenu>

                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    <p:column  headerText="Cantidad" width="140">
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <h:outputText value="#{detalleReceta.cantidad}">
                                                    <f:convertNumber type="number"/>
                                                </h:outputText>
                                            </f:facet>
                                            <f:facet name="input"> 
                                                <p:inputNumber value="#{detalleReceta.cantidad}"
                                                               decimalSeparator="," thousandSeparator="." decimalPlaces="0" >
                                                    <p:ajax event="change" listener="#{beanParametrizacioRecetaEnsamble.obtenerTotal(detalleReceta)}" update=":#{p:component('claseAActualizar')} :#{p:component('valorTotal')}" />
                                                </p:inputNumber>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    <p:column headerText="Valor Unitario" width="140">
                                        <p:cellEditor>
                                            <p:inputText value="#{detalleReceta.valorUnitario}"/>
                                            <f:facet name="output"><h:outputText value="#{detalleReceta.valorUnitario}" >
                                                    <f:convertNumber type="currency" integerOnly="true"/>
                                                </h:outputText>
                                            </f:facet>
                                            <f:facet name="input"> <p:inputNumber value="#{detalleReceta.valorUnitario}" symbol=" $" 
                                                                                  decimalSeparator="," thousandSeparator="." >
                                                    <p:ajax event="change" listener="#{beanParametrizacioRecetaEnsamble.obtenerTotal(detalleReceta)}" update=":#{p:component('claseAActualizar')} :#{p:component('valorTotal')}"  />
                                                </p:inputNumber>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    <p:column  headerText="Valor Total" width="140">
                                        <p:outputLabel  id="valorTotal" value="#{detalleReceta.valorTotal}">
                                            <f:convertNumber type="currency" integerOnly="true"/>
                                        </p:outputLabel>
                                    </p:column>
                                    <p:column headerText="Borrar" width="100">
                                        <p:commandButton icon="fa fa-trash" actionListener="#{beanParametrizacioRecetaEnsamble.eliminarProducto(detalleReceta)}" update=":#{p:component('tblDetalleOrdenCompra')}" />
                                    </p:column>
                                    

                                    <f:facet name="footer" >
                                        <p:commandButton  actionListener="#{beanParametrizacioRecetaEnsamble.adicionarProductoDetalle()}" icon="fa fa-plus" update="tblDetalleOrdenCompra" />
                                    </f:facet>
                                </p:dataTable>
                            </p:panelGrid>
                        </div>
                        </div>
                        <div class="ui-g-12 text-center">
                            <p:commandButton value="Actualizar" actionListener="#{beanParametrizacioRecetaEnsamble.actualizarOrdenCompra()}" action="/GestionRecetaEnsamble" />
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
