<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <title>Parametrizacion de Productos</title>
        <h:form enctype="multipart/form-data">
            <f:metadata>
                <f:viewParam name="idProducto" value="#{beanParametrizacionProductos.idProducto}"/>
                <f:viewAction action="#{beanParametrizacionProductos.cargarProductoAModificar()}"/>  
            </f:metadata>
            <p:growl id="message" showDetail="true" autoUpdate="true"  />

            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="card card-w-title">
                        <div class="ui-g-12">
                            <h1>Actualizar Producto</h1>
                            <p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText  type="text" value="#{beanParametrizacionProductos.productoAModificar.descripcion}" />
                                    <label>Descripcion: </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionProductos.productoAModificar.marca}" />
                                    <label>Marca: </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionProductos.productoAModificar.modelo}" />
                                    <label>Modelo: </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionProductos.productoAModificar.codigo}" />
                                    <label>Codigo: </label>
                                </h:panelGroup>
                                <h:panelGroup id="Stock" styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionProductos.productoAModificar.stockMinimo}"  />
                                    <label>Stock Minimo: </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:graphicImage value="#{beanParametrizacionProductos.imagenPreCargada}"  cache="false" height="350" />
                                </h:panelGroup>
                            </p:panelGrid>
                        </div>
                        <div class="ui-g-12">
                            <h2>
                                Cargar Foto
                            </h2>
                            <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:commandButton value="Cargar manualmente" actionListener="#{beanParametrizacionProductos.cargarManualMente()}"  action="/cargarManual" label="Cargar" />
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:commandButton value="Tomar foto" actionListener="#{beanParametrizacionProductos.tomarFoto()}" action="/cargarConFoto" />
                                </h:panelGroup>
                            </p:panelGrid>
                        </div>
                        <div class="ui-g-12">
                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <p:pickList id="pickPermisos" value="#{beanParametrizacionProductos
                                                                       .proveedoresXProducto}" var="proveedores" itemLabel="#{proveedores}" itemValue="#{proveedores}" converter="proveedor"
                                            responsive="true" showSourceFilter="true"  showTargetFilter="true" filterMatchMode="contains">

                                    <f:facet name="sourceCaption">Proveedores disponibles</f:facet>
                                    <f:facet name="targetCaption">Proveedores concedidos</f:facet>
                                    <p:column style="width:85%;">
                                        <h:outputText value="#{proveedores.razonSocial}" />
                                    </p:column>
                                </p:pickList>                
                            </p:panelGrid>
                        </div>
                        <div class="card cardWithOutBox">
                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <p:commandButton  value="Actualizar" icon="ui-icon-send"  action="#{beanParametrizacionProductos.actualizarProducto()}" iconPos="left" style="width:100%"    ajax="false"/>
                            </p:panelGrid>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>

    </ui:define>

</ui:composition>