<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Gestion De Orden de Compra</ui:define>

    <ui:define name="content">
        <h:form>
            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="card card-w-title">
                        <div class="ui-g-12">
                            <p:growl id="messages" autoUpdate="true" showDetail="true" globalOnly="true"/>
                            <div class="ui-g-12">
                                <p:dataTable id="tblOrdenCompra" value="#{beanGestionOrdenCompra.listOrdenCompra}"  
                                             filterBy="#{beanGestionOrdenCompra.listOrdenCompraFilter}"
                                             paginator="true" rows="10"  
                                             selection="#{beanGestionOrdenCompra.ordenCompra}" 
                                             selectionMode="single" var="ordenCompra" rowKey="#{ordenCompra.idOrdenDeCompra}">
                                    <f:facet name="header">
                                        Gestion  Orden de compra
                                    </f:facet>
                                    <p:column headerText="Acciones" width="10%">
                                        <p:button outcome="GestionParametrizacionOrdenCompra" icon="fa fa-pencil" >
                                            <f:param name="OrdenCompra" value="#{ordenCompra.idOrdenDeCompra}"/>
                                        </p:button>
                                        <p:commandButton icon="fa fa-ban" action="#{beanGestionOrdenCompra.inactivarOrdenCompra(ordenCompra)}" update="tblOrdenCompra" >
                                            <p:confirm header="Confirmacion" message="Esta seguro de inactivar esta orden?" icon="fa fa-exclamation-triangle" />
                                        </p:commandButton>
                                        <p:commandButton icon="fa fa-print" ajax="false" actionListener="#{beanGestionOrdenCompra.imprimir(ordenCompra)}"/>
                                    </p:column>
                                    <p:column headerText="Numero Orden" >
                                        <p:outputLabel value="#{ordenCompra.idOrdenDeCompra}"/>
                                    </p:column> 
                                    <p:column headerText="Empresa" filterBy="#{ordenCompra.empresa}"  filterMatchMode="startsWith" >
                                        <p:outputLabel value="#{ordenCompra.empresa}"/>
                                    </p:column> 
                                    <p:column headerText="Nit" filterBy="#{ordenCompra.nit}"  filterMatchMode="startsWith">
                                        <p:outputLabel value="#{ordenCompra.nit}"/>
                                    </p:column>
                                    <p:column headerText="Direccion" filterBy="#{ordenCompra.direccion}"  filterMatchMode="startsWith">
                                        <p:outputLabel value="#{ordenCompra.direccion}"/>
                                    </p:column>
                                    <p:column headerText="Contactos" filterBy="#{ordenCompra.contactos}"  filterMatchMode="startsWith">
                                        <p:outputLabel value="#{ordenCompra.contactos}"/>
                                    </p:column>
                                    <p:column headerText="Ciudad" filterBy="#{ordenCompra.ciudad}"  filterMatchMode="startsWith">
                                        <p:outputLabel value="#{ordenCompra.ciudad}"/>
                                    </p:column>
                                    <p:column headerText="Telefono" filterBy="#{ordenCompra.telefono}"  filterMatchMode="startsWith">
                                        <p:outputLabel value="#{ordenCompra.telefono}"/>
                                    </p:column>
                                    <p:column headerText="Correo" filterBy="#{ordenCompra.correo}"  filterMatchMode="startsWith">
                                        <p:outputLabel value="#{ordenCompra.correo}"/>
                                    </p:column>
                                    <p:column headerText="Tipo De Compra" filterBy="#{ordenCompra.tipoDeCompra}"  filterMatchMode="startsWith">
                                        <p:outputLabel value="#{ordenCompra.tipoDeCompra}"/>
                                    </p:column>
                                    <p:column headerText="Fecha" filterBy="#{ordenCompra.fecha}"  filterMatchMode="startsWith">
                                        <p:outputLabel value="#{ordenCompra.fecha}" >
                                            <f:convertDateTime locale="es" pattern="yyyy-MM-dd HH:mm"/>
                                        </p:outputLabel>
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
