<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Gestion De Proveedores</ui:define>

    <ui:define name="content">
        <h:form>
            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <p:growl id="messages" autoUpdate="true" showDetail="true" globalOnly="true"/>
                        <div class="card card-w-title">
                            <p:dataTable id="tblProveedores" value="#{beanGestionProveedores.listProveedores}"  
                                         filterBy="#{beanGestionProveedores.listProveedoresFilter}"
                                         paginator="true" rows="10" 
                                         selection="#{beanGestionProveedores.selectionProveedor}" 
                                         selectionMode="single" var="proveedor" rowKey="#{proveedor.idProveedor}">
                                <f:facet name="header">
                                    Gestion de Proveedores
                                </f:facet>
                                <p:column headerText="Acciones">
                                    <p:button outcome="GestionParametrizacionProveedores" icon="fa fa-pencil" >
                                        <f:param name="idProveedor" value="#{proveedor.idProveedor}"/>
                                    </p:button>
                                    <p:commandButton icon="fa fa-ban" action="#{beanGestionProveedores.bloquearProveedor(proveedor)}" update="tblProveedores" >
                                        <p:confirm header="Confirmacion" message="Esta seguro de inactivar este proveedor?" icon="fa fa-exclamation-triangle" />
                                    </p:commandButton>
                                </p:column>
                                <p:column headerText="Nit">
                                    <p:outputLabel value="#{proveedor.nit}"/>
                                </p:column>
                                <p:column headerText="Razon Social">
                                    <p:outputLabel value="#{proveedor.razonSocial}"/>
                                </p:column>
                                <p:column headerText="Correo">
                                    <p:outputLabel value="#{proveedor.correo}"/>
                                </p:column>
                                <p:column headerText="Telefono">
                                    <p:outputLabel value="#{proveedor.telefonoContacto}"/>
                                </p:column>
                                <p:column headerText="Nombre">
                                    <p:outputLabel value="#{proveedor.nombreContacto}"/>
                                </p:column>
                                <p:column headerText="Direccion">
                                    <p:outputLabel value="#{proveedor.direccion}"/>
                                </p:column>
                                <p:column headerText="Ciudad">
                                    <p:outputLabel value="#{proveedor.ciudad.ciudad}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
