<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Gestion De Usuarios</ui:define>

    <ui:define name="content">
        <h:form>
            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <p:growl id="messages" autoUpdate="true" showDetail="true" globalOnly="true"/>
                        <div class="card card-w-title">
                            <p:dataTable id="tblUsuarios" value="#{beanGestionUsuarios.usuarios}"  paginator="true" rows="10" 
                                         selection="#{beanGestionUsuarios.usuarioSeleccionado}" 
                                         selectionMode="single" var="usuario" rowKey="#{usuario.idUsuario}">
                                <f:facet name="header">
                                    Gestion de usuarios
                                </f:facet>
                                <p:column headerText="Acciones">
                                    <p:button outcome="GestionParametrizacionUsuarios" icon="fa fa-pencil" >
                                        <f:param name="idUsuario" value="#{usuario.idUsuario}"/>
                                    </p:button>
                                    <p:commandButton icon="fa fa-ban" action="#{beanGestionUsuarios.bloquearUsuario(usuario)}" update="tblUsuarios" >
                                        <p:confirm header="Confirmacion" message="Esta seguro de inactivar este usuario?" icon="fa fa-exclamation-triangle" />
                                    </p:commandButton>
                                </p:column>
                                <p:column headerText="Documento">
                                    <p:outputLabel value="#{usuario.documento}"/>
                                </p:column>
                                <p:column headerText="Nombres">
                                    <p:outputLabel value="#{usuario.nombres}"/>
                                </p:column>
                                <p:column headerText="Apellidos">
                                    <p:outputLabel value="#{usuario.apellidos}"/>
                                </p:column>
                                <p:column headerText="Cargo">
                                    <p:outputLabel value="#{usuario.cargo}"/>
                                </p:column>
                                <p:column headerText="Usuario">
                                    <p:outputLabel value="#{usuario.usuario}"/>
                                </p:column>
                                <p:column headerText="Activo Desde">
                                    <p:outputLabel id="activo" value="#{usuario.fechaCreacion}">
                                        <f:convertDateTime pattern="yyyy-MM-dd" for="activo" />
                                    </p:outputLabel>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
