<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Parametrizacion De orden de compra</ui:define>

    <ui:define name="content">
        <h:form>
            <p:growl id="message" showDetail="true" autoUpdate="true"  />

            <f:metadata>
                <f:viewParam name="OrdenCompra" value="#{beanParametrizacionOrdenCompra.idOrdenCompra}"/>
                <f:viewAction action="#{beanParametrizacionOrdenCompra.cargarInformacionOrdenCompra()}"/>  
            </f:metadata>
            <div class="ui-fluid">

                <div class="ui-g">
                    <div class="card card-w-title">

                        <div class="ui-g-12 ui-md-12 text-center">
                            <h3>
                                Administracion Ordenes de compra
                            </h3>
                            <br></br>
                            <br></br>
                            <p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionOrdenCompra.ordenAModificar.empresa}" />
                                    <label>Empresa / Company: </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionOrdenCompra.ordenAModificar.nit}" />
                                    <label>Nit / Identity:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionOrdenCompra.ordenAModificar.direccion}" />
                                    <label>Direccion / Address:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionOrdenCompra.ordenAModificar.contactos}" />
                                    <label>Contacto / Contact:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionOrdenCompra.ordenAModificar.ciudad}" />
                                    <label>Ciudad-Pais / City Country:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionOrdenCompra.ordenAModificar.telefono}" />
                                    <label>Telefono / Phone:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionOrdenCompra.ordenAModificar.correo}" />
                                    <label>Correo / Email:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:calendar value="#{beanParametrizacionOrdenCompra.ordenAModificar.fecha}" />
                                    <label>Fecha / Date:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionOrdenCompra.ordenAModificar.tipoDeCompra}" />
                                    <label>Tipo Compra / Purchase Type:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionOrdenCompra.ordenAModificar.terminoNegociacion}" />
                                    <label>Termino Negociacion / Incoterm:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionOrdenCompra.ordenAModificar.formaPago}" />
                                    <label>Forma de Pago / Pay Form:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionOrdenCompra.ordenAModificar.direccionEntrega}" />
                                    <label>Direccion de Entrega / Delivery Address:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionOrdenCompra.ordenAModificar.procesado}" />
                                    <label>Procesado / Processed:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanParametrizacionOrdenCompra.ordenAModificar.aprobado}" />
                                    <label>Aprobado / Aproved:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputTextarea value="#{beanParametrizacionOrdenCompra.ordenAModificar.observaciones}" />
                                    <label>Observaciones / Observations:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputNumber id="input6" value="#{beanParametrizacionOrdenCompra.ordenAModificar.impuesto}" symbol="%" 
                                                   symbolPosition="s" emptyValue="zero" maxValue="100"/> 
                                    <label>Impuestos / Taxes:</label>
                                </h:panelGroup>
                            </p:panelGrid>
                        </div>
                        <div class="ui-g-12 ui-md-12 text-center">
                            <div class="card card-w-title">

                                <h2>
                                    Añadir Productos   - Total :  <p:outputLabel  id="claseAActualizar" value="#{beanParametrizacionOrdenCompra.totalOrden}">
                                        <f:convertNumber type="currency" />
                                    </p:outputLabel>
                                </h2>
                                <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                    <p:dataTable id="tblDetalleOrdenCompra" value="#{beanParametrizacionOrdenCompra.ordenAModificar.detalleOrdenDeCompra}"  
                                                 var="detalleOrdenCompra"  selection="#{beanParametrizacionOrdenCompra.detalleOrdenCompraSeleccionado}" selectionMode="single"
                                                 rowKey="#{detalleOrdenCompra}" editable="true" editMode="cell"  resizeMode="expand" >

                                        <p:column headerText="Item" width="140">
                                            <p:outputLabel value="#{detalleOrdenCompra.item}"/>
                                        </p:column>
                                        <p:column headerText="Producto" width="190">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{detalleOrdenCompra.producto.descripcion}" /></f:facet>
                                                <f:facet name="input">

                                                    <p:selectOneMenu value="#{detalleOrdenCompra.producto}" converter="omnifaces.SelectItemsConverter" filterMatchMode="startsWith" panelStyle="width:180px" filter="true"  >
                                                        <p:ajax event="valueChange" update="tblDetalleOrdenCompra"
                                                                listener="#{beanParametrizacionOrdenCompra.validarProductoReceta(detalleOrdenCompra)}" />
                                                        <f:selectItems value="#{beanParametrizacionOrdenCompra.productos}" var="productos" itemLabel="#{productos.descripcion}" itemValue="#{productos}"/>
                                                    </p:selectOneMenu>

                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        <p:column  headerText="Cantidad" width="140">
                                            <p:cellEditor>
                                                <f:facet name="output">
                                                    <h:outputText value="#{detalleOrdenCompra.cantidad}">
                                                        <f:convertNumber type="number"/>
                                                    </h:outputText>
                                                </f:facet>
                                                <f:facet name="input"> 
                                                    <p:inputNumber value="#{detalleOrdenCompra.cantidad}"
                                                                   decimalSeparator="," thousandSeparator="." decimalPlaces="0" >
                                                        <p:ajax event="change" listener="#{beanParametrizacionOrdenCompra.obtenerTotal(detalleOrdenCompra)}" update=":#{p:component('claseAActualizar')} :#{p:component('valorTotal')}" />
                                                    </p:inputNumber>
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        <p:column headerText="Valor Unitario" width="140">
                                            <p:cellEditor>
                                                <p:inputText value="#{detalleOrdenCompra.valorUnitario}"/>
                                                <f:facet name="output"><h:outputText value="#{detalleOrdenCompra.valorUnitario}" >
                                                        <f:convertNumber type="currency" integerOnly="true"/>
                                                    </h:outputText>
                                                </f:facet>
                                                <f:facet name="input"> <p:inputNumber  disabled="#{detalleOrdenCompra.producto.recetaReferenciada != null}"   value="#{detalleOrdenCompra.valorUnitario}" symbol=" $" 
                                                                                       decimalSeparator="," thousandSeparator="." >
                                                        <p:ajax event="change" listener="#{beanParametrizacionOrdenCompra.obtenerTotal(detalleOrdenCompra)}" update=":#{p:component('claseAActualizar')} :#{p:component('valorTotal')}"  />
                                                    </p:inputNumber>
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        <p:column  headerText="Valor Total" width="140">
                                            <p:outputLabel  id="valorTotal" value="#{detalleOrdenCompra.valorTotal}">
                                                <f:convertNumber type="currency" integerOnly="true"/>
                                            </p:outputLabel>
                                        </p:column>
                                        <p:column headerText="Borrar" width="100">
                                            <p:commandButton icon="fa fa-trash" actionListener="#{beanParametrizacionOrdenCompra.eliminarProducto(detalleOrdenCompra)}" update=":#{p:component('tblDetalleOrdenCompra')}" />
                                        </p:column>
                                        <p:column headerText="Visualizar Seriales" width="100">
                                            <p:commandButton icon="fa fa-plus" actionListener="#{beanParametrizacionOrdenCompra.añadirCamposParaSeriales(detalleOrdenCompra)}" update=":#{p:component('tblDetalleSeriales')}"  onclick="PF('serial').show();" >
                                                <f:setPropertyActionListener value="#{detalleOrdenCompra}" target="#{beanParametrizacionOrdenCompra.detalleSeleccionado}" />
                                            </p:commandButton>
                                        </p:column>

                                        <f:facet name="footer" >
                                            <p:commandButton  actionListener="#{beanParametrizacionOrdenCompra.adicionarProductoDetalle()}" icon="fa fa-plus" update="tblDetalleOrdenCompra" />
                                        </f:facet>
                                    </p:dataTable>
                                    <p:dialog  closable="true" header="Ingresa los seriales de los productos" widgetVar="serial" modal="true" height="100">
                                        <p:dataTable id="tblDetalleSeriales" value="#{beanParametrizacionOrdenCompra.detalleSeriales}" clientCache="true"
                                                     var="serialProducto" selection="#{beanParametrizacionOrdenCompra.detalleOrdenSerialProductoSeleccionado}" selectionMode="single"
                                                     rowKey="#{serialProducto}" editable="true" editMode="cell" >
                                            <p:ajax event="cellEdit" listener="#{beanParametrizacionOrdenCompra.validarListaLlena(serialProducto)}" update="tblDetalleSeriales :#{p:component('btnRenderAceptar')}" />
                                            <p:column headerText="Serial">
                                                <p:cellEditor>
                                                    <f:facet name="output"><h:outputText value="#{serialProducto.serial}" />
                                                    </f:facet>
                                                    <f:facet name="input">
                                                        <p:inputText value="#{serialProducto.serial}"/>
                                                    </f:facet>
                                                </p:cellEditor>
                                            </p:column>
                                        </p:dataTable>
                                        <p:commandButton id="btnRenderAceptar"  value="Aceptar"  onclick="PF('serial').hide();" actionListener="#{beanParametrizacionOrdenCompra.notificarMensajeCargadoCompleto()}"  disabled="#{beanParametrizacionOrdenCompra.renderBotonAceptar}" />
                                    </p:dialog>
                                </p:panelGrid>
                            </div>
                        </div>
                        <div class="ui-g-12 text-center">
                            <h:commandButton value="Actualizar" actionListener="#{beanParametrizacionOrdenCompra.actualizarOrdenCompra()}" action="/GestionOrdenDeCompra" />
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
