<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Dashboard</ui:define>


    <ui:define name="head">
        <script type="text/javascript">
            //<![CDATA[
            function skinChart() {
                this.cfg.shadow = false;
                this.cfg.title = '';
                this.cfg.seriesColors = ['#FFC107', '#03A9F4'];
                this.cfg.grid = {
                    background: '#ffffff',
                    borderColor: '#ffffff',
                    gridLineColor: '#EEEEEE',
                    shadow: false
                };
                this.cfg.axesDefaults = {
                    rendererOptions: {
                        textColor: '#212121'
                    }
                };
                this.cfg.seriesDefaults = {
                    shadow: false,
                    lineWidth: 1,
                    markerOptions: {
                        shadow: false,
                        size: 7,
                        style: 'circle'
                    }
                }
            }
            //]]>  
        </script>
        <style type="text/css">
            .main-content {
                padding: 0;
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <h:form>
            <div class="ui-g dashboard">
                <div class="ui-g-12 ui-md-12">
                    <div class="card overview">
                        <div class="overview-content clearfix">
                            <p:chart type="bar" model="#{beanGraficas.barModelStockMinimo}" responsive="true"/>

                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <div class="card overview">
                        <div class="overview-content clearfix">
                            <p:chart type="bar" model="#{beanGraficas.barModeTotalCosto}" responsive="true"/>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>