<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/template.xhtml"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">
        <title>Registro De  Salida</title>
        <h:form id="frmMovimientosSalida" >
            <p:growl id="message" showDetail="true"  globalOnly="true" autoUpdate="true"  />

            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="card card-w-title">
                            <p:panelGrid columns="3" layout="grid"  styleClass="ui-panelgrid-blank form-group">
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:selectOneMenu value="#{registroMovimientoSalidaBean.movimientoSalida.estadoMovimientoSalida}" converter="omnifaces.SelectItemsConverter" >
                                        <f:selectItems value="#{registroMovimientoSalidaBean.estadosSalidas}" var="estado" itemValue="#{estado}" itemLabel="#{estado}" />
                                    </p:selectOneMenu>
                                    <label>Estado</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:calendar pattern="yyyy-MM-dd HH:mm" showButtonPanel="true" locale="es" value="#{registroMovimientoSalidaBean.movimientoSalida.fechaRegistro}" />
                                    <label>Fecha Factura:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:selectOneMenu value="#{registroMovimientoSalidaBean.movimientoSalida.bodega}" converter="omnifaces.SelectItemsConverter" >
                                        <f:selectItems value="#{registroMovimientoSalidaBean.bodegas}" var="bodega" itemValue="#{bodega}" itemLabel="#{bodega.nombre}" />
                                    </p:selectOneMenu>
                                    <label>Bodega</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:commandButton value="Consultar" actionListener="#{registroMovimientoSalidaBean.consultarBodegaProductosEnInventario}" update=":#{p:component('renderTableInventario')}"/>
                                </h:panelGroup>
                            </p:panelGrid>
                        </div>
                        <div class="card card-w-title">
                            <div class="ui-g">
                                <div class="ui-g-6">

                                    <p:dataTable  value="#{registroMovimientoSalidaBean.inventarioActual}" id="renderTableInventario" var="inventario" scrollable="true" scrollHeight="250">
                                        <f:facet name="header">
                                            Productos en la bodega :  #{registroMovimientoSalidaBean.movimientoSalida.bodega.nombre}
                                        </f:facet>
                                        <p:column headerText="Producto">
                                            <h:outputText value="#{inventario.producto.descripcion}" />
                                        </p:column>
                                        <p:column>
                                            <p:commandButton icon="fa fa-search"  actionListener="#{registroMovimientoSalidaBean.obtenerSerialesProducto(inventario)}"  oncomplete="PF('dlg2').show();" update=":#{p:component('serialProductoTable')} "/>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                                <div class="ui-g-6">
                                     <p:dataTable  value="#{registroMovimientoSalidaBean.serialesRegistrados}"  sortBy="#{seriales.serial}" id="serailes" var="seriales">
                                        <f:facet name="header">
                                            Productos Seleccionados
                                        </f:facet>
                                        <p:column headerText="Producto">
                                            <h:outputText value="#{seriales.idInventario.producto.descripcion}" />
                                        </p:column>
                                        <p:column headerText="Serial">
                                            <h:outputText value="#{seriales.serial}" />
                                        </p:column>
                                        <p:column headerText="Garantia Mes">
                                            <h:outputText value="#{seriales.garantiaMes}" />
                                        </p:column>
                                        <p:column headerText="Precio Calculado Kardex">
                                            <h:outputText value="#{registroMovimientoSalidaBean.calcularPrecioUnitario(seriales)}" />
                                        </p:column>
                                        <p:column>
                                            <p:commandButton icon="fa fa-trash" actionListener="#{registroMovimientoSalidaBean.eliminarSerial(seriales)}" update=":#{p:component('serailes')}" />
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </div>
                        </div> 
                        <p:dialog header="Seriales" widgetVar="dlg2" modal="true">
                            <p:dataTable id="serialProductoTable" sortBy="#{serial.serial}" scrollable="true" scrollHeight="250" value="#{registroMovimientoSalidaBean.listInventariosSeriales}" var="serial" selection="#{registroMovimientoSalidaBean.listaSeleccionSeriales}" rowKey="#{serial.idInventarioSerial}">
                                <f:facet name="header">
                                    Seriales del producto #{registroMovimientoSalidaBean.seleccionInventario.producto.descripcion}
                                </f:facet>
                                <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                                <p:column headerText="Serial" >
                                    <p:outputLabel value="#{serial.serial}"/>
                                </p:column>
                                <p:column headerText="Garantia Mes" >
                                    <p:outputLabel value="#{serial.garantiaMes}"/>
                                </p:column>
                            </p:dataTable>
                            <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <p:commandButton value="Agregar productos seleccionados" actionListener="#{registroMovimientoSalidaBean.almacenarSeleccionados()}" update="serailes" oncomplete="PF('dlg2').hide();"  />
                                <p:commandButton value="Cerrar" onclick="PF('dlg2').hide();" />
                            </p:panelGrid>
                        </p:dialog>
                        <p:dialog widgetVar="dlg4" modal="true" header="Firma">
                            <p:signature style="width:400px;height:200px" widgetVar="sig" value="#{registroMovimientoSalidaBean.movimientoSalida.firma}" guideline="true"/>
                            <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <p:commandButton value="Guardar" icon="fa fa-check" onclick="PF('dlg4').hide();"/>
                                <p:commandButton value="Limpiar" icon="fa fa-times" type="button" onclick="PF('sig').clear()"/>
                            </p:panelGrid>
                        </p:dialog>
                        <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">
                            <h:panelGroup styleClass="md-inputfield">
                                <p:commandButton value="Firma" onclick="PF('dlg4').show();" />
                            </h:panelGroup>
                            <h:panelGroup styleClass="md-inputfield">
                                <p:commandButton value="Registrar Salida" actionListener="#{registroMovimientoSalidaBean.registrarSalida}" ajax="false"/>
                            </h:panelGroup>
                        </p:panelGrid>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>