<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <title>Registro Sede</title>
        <h:form>
            <p:growl id="message" showDetail="true" autoUpdate="true"  />

            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="card card-w-title">
                            <h1>Registrar Sede</h1>
                            <p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText  type="text" value="#{beanRegistroSede.nombre}" required="true" />
                                    <label>Nombre: </label>

                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:selectOneMenu value="#{beanRegistroSede.ciudad}" converter="omnifaces.SelectItemsConverter">
                                        <f:selectItem itemLabel="Seleccione una opcion" itemValue="#{null}" noSelectionOption="true"/>
                                        <f:selectItems value="#{beanRegistroSede.ciudades}" var="ciud" itemLabel="#{ciud.ciudad}" itemValue="#{ciud}"/>
                                    </p:selectOneMenu>
                                    <label>Ciudad: </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanRegistroSede.direccion}" />
                                    <label>Direccion: </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:selectOneMenu value="#{beanRegistroSede.usuario}" converter="omnifaces.SelectItemsConverter">
                                        <f:selectItem itemLabel="Seleccione una opcion" itemValue="#{null}" noSelectionOption="true"/>
                                        <f:selectItems value="#{beanRegistroSede.usuarios}" var="user" itemLabel="#{user.nombres} #{user.apellidos}" itemValue="#{user}"/>
                                    </p:selectOneMenu>
                                    <label>Responsable </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanRegistroSede.telefono}" />
                                    <label>Telefono </label>
                                </h:panelGroup>
                            </p:panelGrid>
                        </div>
                        <div class="card cardWithOutBox">

                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <p:commandButton  value="Registrar" icon="ui-icon-send"  actionListener="#{beanRegistroSede.registrarSede()}" iconPos="left" style="width:100%"  update="@form" />
                            </p:panelGrid>

                        </div>

                    </div>
                </div>
            </div>
        </h:form>

    </ui:define>

</ui:composition>