<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <title>Registro de  Entrada</title>
        <h:form id="frmMovimientosEntrada" enctype="multipart/form-data">
            <p:growl id="message" showDetail="true" autoUpdate="true" globalOnly="true" />

            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="card card-w-title">
                            <h1>Generar Entrada apartir de una orden de compra </h1>
                            <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText  type="text" value="#{registroMovimientosEntrada.idOrdenCompra}"  />
                                    <label>Numero de orden:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:commandButton value="Consultar" actionListener="#{registroMovimientosEntrada.findByOrdenCompraXNumeroOrden()}" update=":#{p:component('frmMovimientosEntrada')}"/>
                                </h:panelGroup>
                            </p:panelGrid>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="card card-w-title">
                            <p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank form-group">

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{registroMovimientosEntrada.movimiento.numeroFactura}" />
                                    <label>Numero Factura: </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:calendar pattern="yyyy-MM-dd HH:mm" showButtonPanel="true" locale="es" value="#{registroMovimientosEntrada.movimiento.fechaFactura}" />
                                    <label>Fecha Factura:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:selectOneMenu value="#{registroMovimientosEntrada.movimiento.bodega}" converter="omnifaces.SelectItemsConverter" >
                                        <f:selectItems value="#{registroMovimientosEntrada.bodegas}" var="bodega" itemValue="#{bodega}" itemLabel="#{bodega.nombre}" />
                                    </p:selectOneMenu>
                                    <label>Bodega</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:selectOneMenu value="#{registroMovimientosEntrada.movimiento.proveedor}" converter="omnifaces.SelectItemsConverter" >
                                        <f:selectItems value="#{registroMovimientosEntrada.proveedores}" var="proveedor" itemValue="#{proveedor}" itemLabel="#{proveedor.razonSocial}" />
                                    </p:selectOneMenu>
                                    <label>Proveedor</label>
                                </h:panelGroup>
                            </p:panelGrid>


                            <h2>
                                Cargar Factura
                            </h2>
                            <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:commandButton value="Cargar manualmente" actionListener="#{registroMovimientosEntrada.cargarManualMente()}" action="/cargarManual" />
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:commandButton value="Tomar foto" actionListener="#{registroMovimientosEntrada.tomarFoto()}" action="/cargarConFoto" />
                                </h:panelGroup>
                            </p:panelGrid>
                        </div>
                    </div>
                    <div class="card card-w-title">

                        <h2>
                            Añadir Productos   - Total :  <p:outputLabel  id="claseAActualizar" value="#{registroMovimientosEntrada.totalOrden}">
                                <f:convertNumber type="currency" currencySymbol="$" />
                            </p:outputLabel>
                        </h2>
                        <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                            <p:dataTable id="tblDetalleOrdenCompra" value="#{registroMovimientosEntrada.listDetalleMovimientos}"  clientCache="true"
                                         var="detalleMovimiento" selection="#{registroMovimientosEntrada.detalleMovimientoSeleccionado}" selectionMode="single"
                                         rowKey="#{detalleMovimiento}" editable="true" editMode="cell"  resizeMode="expand" >

                                <p:column headerText="Item" width="140">
                                    <p:outputLabel value="#{detalleMovimiento.item}"/>
                                </p:column>
                                <p:column headerText="Producto" width="190">
                                    <p:cellEditor>
                                        <f:facet name="output"><h:outputText value="#{detalleMovimiento.producto.descripcion}" /></f:facet>
                                        <f:facet name="input">
                                            <p:selectOneMenu value="#{detalleMovimiento.producto}" converter="omnifaces.SelectItemsConverter" filterMatchMode="startsWith" panelStyle="width:180px" filter="true">
                                                <p:ajax event="valueChange" update="tblDetalleOrdenCompra"
                                                        listener="#{registroMovimientosEntrada.validarProductoReceta(detalleMovimiento)}" />
                                                <f:selectItems value="#{registroMovimientosEntrada.productos}" var="productos" itemLabel="#{productos.descripcion}" itemValue="#{productos}"/>
                                            </p:selectOneMenu>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column  headerText="Cantidad" width="140">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{detalleMovimiento.cantidad}">
                                                <f:convertNumber type="number"/>
                                            </h:outputText>
                                        </f:facet>
                                        <f:facet name="input"> 
                                            <p:inputNumber value="#{detalleMovimiento.cantidad}"
                                                           decimalSeparator="," thousandSeparator="." decimalPlaces="0" >
                                                <p:ajax event="change" listener="#{registroMovimientosEntrada.obtenerTotal(detalleMovimiento)}" update=":#{p:component('claseAActualizar')} :#{p:component('valorTotal')}" />
                                            </p:inputNumber>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column id="valorU" headerText="Valor Unitario" width="140">
                                    <p:cellEditor>
                                        <p:inputText  value="#{detalleMovimiento.valorUnitario}"/>
                                        <f:facet name="output"><h:outputText value="#{detalleMovimiento.valorUnitario}" >
                                                <f:convertNumber type="currency" integerOnly="true"/>
                                            </h:outputText>
                                        </f:facet>
                                        <f:facet name="input"> <p:inputNumber disabled="#{detalleMovimiento.producto.recetaReferenciada != null}" value="#{detalleMovimiento.valorUnitario}" symbol=" $" 
                                                                              decimalSeparator="," thousandSeparator="." >
                                                <p:ajax event="change" listener="#{registroMovimientosEntrada.obtenerTotal(detalleMovimiento)}" update=":#{p:component('claseAActualizar')} :#{p:component('valorTotal')}"  />
                                            </p:inputNumber>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column  headerText="Valor Total" width="140">
                                    <p:outputLabel  id="valorTotal" value="#{detalleMovimiento.valorTotal}">
                                        <f:convertNumber type="currency" integerOnly="true"/>
                                    </p:outputLabel>
                                </p:column>
                                <p:column headerText="Borrar" width="100">
                                    <p:commandButton icon="fa fa-trash" actionListener="#{registroMovimientosEntrada.eliminarProducto(detalleMovimiento)}" update=":#{p:component('tblDetalleOrdenCompra')}" />
                                </p:column>
                                <p:column headerText="Agregar Seriales" width="100">
                                    <p:commandButton icon="fa fa-plus" actionListener="#{registroMovimientosEntrada.añadirCamposParaSeriales(detalleMovimiento)}" update=":#{p:component('tblDetalleSeriales') } :#{p:component('btnRenderAceptar') }"  onclick="PF('serial').show();" >
                                        <f:setPropertyActionListener value="#{detalleMovimiento}" target="#{registroMovimientosEntrada.detalleMovimientoSeleccionado}" />
                                    </p:commandButton>
                                </p:column>
                                <f:facet name="footer" >
                                    <p:commandButton  actionListener="#{registroMovimientosEntrada.adicionarProductoDetalle()}" icon="fa fa-plus" update="tblDetalleOrdenCompra" />
                                </f:facet>
                            </p:dataTable>
                            <p:dialog  closable="true" header="Ingresa los seriales de los productos" widgetVar="serial" modal="true" height="100">
                                <p:dataTable id="tblDetalleSeriales" value="#{registroMovimientosEntrada.detalleSeriales}"
                                             var="serialProducto" selection="#{registroMovimientosEntrada.detalleSeleccionSerialProducto}" selectionMode="single"
                                             rowKey="#{serialProducto}" editable="true" editMode="cell" >
                                    <p:ajax event="cellEdit" listener="#{registroMovimientosEntrada.validarListaLlena(serialProducto)}" update="tblDetalleSeriales :#{p:component('btnRenderAceptar')}" />
                                    <p:column headerText="Serial">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{serialProducto.serial}" />
                                            </f:facet>
                                            <f:facet name="input">
                                                <p:inputText value="#{serialProducto.serial}"/>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    <p:column headerText="Garantia Mes">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{serialProducto.garantiaMes}" />
                                            </f:facet>
                                            <f:facet name="input">
                                                <p:inputText value="#{serialProducto.garantiaMes}"/>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                </p:dataTable>
                                <p:commandButton id="btnRenderAceptar"  value="Aceptar"  onclick="PF('serial').hide();" actionListener="#{registroMovimientosEntrada.notificarMensajeCargadoCompleto}"  disabled="#{registroMovimientosEntrada.renderBotonAceptar}" />
                            </p:dialog>

                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <p:commandButton  value="Registrar"  actionListener="#{registroMovimientosEntrada.crearRegistroMovimientoEntrada()}"  style="width:100%" ajax="false" />
                            </p:panelGrid>
                        </p:panelGrid>
                    </div>


                </div>
            </div>
        </h:form>

    </ui:define>


</ui:composition>