<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <title>Registro Bodegas</title>
        <h:form>
            <p:growl id="message" showDetail="true" autoUpdate="true"  />

            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="card card-w-title">
                            <h1>Registrar Bodega</h1>
                            <p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText  type="text" value="#{beanRegistroBodega.nombre}" required="true" />
                                    <label>Nombre:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanRegistroBodega.direccion}" />
                                    <label>Direccion: </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanRegistroBodega.telefono}" />
                                    <label>Telefono </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:selectOneMenu value="#{beanRegistroBodega.sede}" converter="omnifaces.SelectItemsConverter">
                                        <f:selectItems value="#{beanRegistroBodega.sedes}" var="sede" itemLabel="#{sede.nombre}" itemValue="#{sede}"/>
                                    </p:selectOneMenu> 
                                    <label>Sede</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:selectOneMenu value="#{beanRegistroBodega.usuarioResponsable}" converter="omnifaces.SelectItemsConverter">
                                        <f:selectItems value="#{beanRegistroBodega.usuarios}" var="usuario" itemLabel="#{usuario.nombres} #{usuario.apellidos}" itemValue="#{usuario}" />
                                    </p:selectOneMenu> 
                                    <label>Responsable</label>
                                </h:panelGroup>
                            </p:panelGrid>
                        </div>
                        <div class="card cardWithOutBox">

                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <p:commandButton  value="Registrar" icon="ui-icon-send"  actionListener="#{beanRegistroBodega.guardarBodega()}" iconPos="left" style="width:100%"  />
                            </p:panelGrid>

                        </div>

                    </div>
                </div>
            </div>
        </h:form>

    </ui:define>


</ui:composition>