<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <title>Registro Proveedores</title>
        <h:form id="frmRegistroClientes">
            <p:growl id="message" showDetail="true" autoUpdate="true"  />


            <p:outputPanel id="panelUpda">

                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <div class="card card-w-title">
                                <h1>Registrar Cliente</h1>
                                <p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                    <h:panelGroup styleClass="md-inputfield">
                                        <p:inputText  type="text" value="#{beanRegistroClientes.razonSocial}"  />
                                        <label>Razon Social : </label>

                                    </h:panelGroup>
                                    <h:panelGroup styleClass="md-inputfield">
                                        <p:inputText value="#{beanRegistroClientes.nitCedula}" />
                                        <label>Nit / Cedula </label>
                                    </h:panelGroup>
                                    <h:panelGroup styleClass="md-inputfield">
                                        <p:inputText value="#{beanRegistroClientes.direccion}" />
                                        <label>Direccion: </label>
                                    </h:panelGroup>
                                    <h:panelGroup styleClass="md-inputfield">
                                        <p:inputText value="#{beanRegistroClientes.telefono}" />
                                        <label>Telefono: </label>
                                    </h:panelGroup>
                                    <h:panelGroup styleClass="md-inputfield">
                                        <p:inputText value="#{beanRegistroClientes.nombreContacto}" />
                                        <label>Nombre Contacto: </label>
                                    </h:panelGroup>
                                    <h:panelGroup styleClass="md-inputfield">
                                        <p:inputText value="#{beanRegistroClientes.cargo}" />
                                        <label>Cargo </label>
                                    </h:panelGroup>
                                    <h:panelGroup styleClass="md-inputfield">
                                        <p:inputText value="#{beanRegistroClientes.email}" />
                                        <label>Email </label>
                                    </h:panelGroup>
                                </p:panelGrid>
                                <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                    <p:pickList id="PojoPickList" value="#{beanRegistroClientes.sedesPick}" var="sede" effect="fold" converter="sedes"
                                                itemValue="#{sede}" itemLabel="#{sede}"  showSourceFilter="true"  showTargetFilter="true"
                                                filterMatchMode="contains" responsive="true">

                                        <f:facet name="sourceCaption">Sedes Disponibles</f:facet>
                                        <f:facet name="targetCaption">Sedes Usadas</f:facet>

                                        <p:column style="width:85%;">
                                            <h:outputText value="#{sede.nombre}" />
                                        </p:column>
                                    </p:pickList>
                                </p:panelGrid>
                            </div>

                            <div class="card cardWithOutBox">

                                <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                    <p:commandButton  value="Registrar" icon="ui-icon-send"   actionListener="#{beanRegistroClientes.registrarCliente()}" iconPos="left" style="width:100%"   />
                                </p:panelGrid>

                            </div>

                        </div>
                    </div>
                </div>
            </p:outputPanel>
        </h:form>

    </ui:define>

</ui:composition>