<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <title>Registro Usuarios</title>
        <h:form>
            <p:growl id="message" showDetail="true" autoUpdate="true"  />

            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="card card-w-title">
                            <h1>Registrar Usuario</h1>
                            <p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText  type="text" value="#{beanRegistroUsuarios.documento}" required="true" />
                                    <label>Identificacion: </label>

                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanRegistroUsuarios.nombres}" />
                                    <label>Nombres: </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanRegistroUsuarios.apellidos}" />
                                    <label>Apellidos: </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanRegistroUsuarios.cargo}" />
                                    <label>Cargo: </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanRegistroUsuarios.usuario}" />
                                    <label>Usuario: </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:password value="#{beanRegistroUsuarios.password}" goodLabel="Regular" promptLabel="Escribe una contraseña"  
                                                weakLabel="Debil"  strongLabel="Fuerte" feedback="true" placeholder="Contraseña" inline="true" />
                                </h:panelGroup>
                            </p:panelGrid>
                        </div>
                        <div class="card cardWithOutBox">

                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <p:commandButton  value="Registrar" icon="ui-icon-send"  actionListener="#{beanRegistroUsuarios.registrarUsuario()}" iconPos="left" style="width:100%"  update="@form" />
                            </p:panelGrid>

                        </div>

                    </div>
                </div>
            </div>
        </h:form>

    </ui:define>

</ui:composition>