<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <title>Registro Proveedores</title>
        <h:form>
            <p:growl id="message" showDetail="true" autoUpdate="true"  />

            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="card card-w-title">
                        <div class="ui-g-12 ui-md-12 text-center">
                            <h1>Registrar Proveedor</h1>
                            <p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                 <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanProveedores.razonSocial}" />
                                    <label>Razon Social: </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText  type="text" value="#{beanProveedores.nit}"  />
                                    <label>Nit : </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanProveedores.nombreContacto}" />
                                    <label>Nombre Contacto: </label>
                                </h:panelGroup>
                               
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanProveedores.correo}" />
                                    <label>Correo: </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanProveedores.telefonoContacto}" />
                                    <label>Telefono Contacto: </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanProveedores.direccion}" />
                                    <label>Direccion </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:selectOneMenu value="#{beanProveedores.ciudad}" converter="omnifaces.SelectItemsConverter">
                                        <f:selectItems value="#{beanProveedores.ciudades}" var="city" itemLabel="#{city.ciudad}" itemValue="#{city}"/>
                                    </p:selectOneMenu> 
                                    <label>Ciudad</label>
                                </h:panelGroup>
                            </p:panelGrid>
                        </div>
                        <div class="ui-g-12 ui-md-12 text-center">
                            <h3>
                                Asocia los productos que vende el proveedor a registrar
                            </h3>
                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <p:pickList value="#{beanProveedores.productosPick}"  var="producto" effect="bounce"
                                            itemValue="#{producto}" itemLabel="#{producto}"  converter="productos" showSourceFilter="true"  showTargetFilter="true"
                                            filterMatchMode="contains" responsive="true">
                                    <f:facet name="sourceCaption">Disponible</f:facet>
                                    <f:facet name="targetCaption">Usados</f:facet>
                                    <p:column style="width:85%;">
                                        <h:outputText value="#{producto.descripcion}" />
                                    </p:column>
                                </p:pickList>
                            </p:panelGrid>
                        </div>
                        <div class="card cardWithOutBox">
                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <p:commandButton  value="Registrar" icon="ui-icon-send"  actionListener="#{beanProveedores.guardarProveedor()}" iconPos="left" style="width:100%"  update="@form" />
                            </p:panelGrid>

                        </div>

                    </div>
                </div>
            </div>
        </h:form>

    </ui:define>

</ui:composition>