<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <title>Registro devolucion entrada</title>
        <h:form id="frmMovimientosEntrada" enctype="multipart/form-data">
            <p:growl id="message" showDetail="true" autoUpdate="true" globalOnly="true" />
            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="card card-w-title">
                            <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText  type="text" value="#{beanRegistroDevolucionEntrada.numeroRadicado}"  />
                                    <label>Numero de radicado</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:commandButton value="Consultar" actionListener="#{beanRegistroDevolucionEntrada.consultarBodegaProductosEnInventario()}" update="@form"/>
                                </h:panelGroup>
                            </p:panelGrid>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="card card-w-title">
                            <p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank form-group">

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanRegistroDevolucionEntrada.kardex.factura}" />
                                    <label>Numero Factura: </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:calendar pattern="yyyy-MM-dd HH:mm" showButtonPanel="true" locale="es" value="#{beanRegistroDevolucionEntrada.kardex.fechaMovimiento}" />
                                    <label>Fecha Factura:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:outputLabel  value="#{beanRegistroDevolucionEntrada.kardex.bodega.nombre}"  />
                                    <label>Bodega</label>
                                </h:panelGroup>
                            </p:panelGrid>
                        </div>
                    </div>
                    <div class="card card-w-title">
                        <div class="ui-g">
                            <div class="ui-g-6">
                                <p:dataTable  value="#{beanRegistroDevolucionEntrada.inventarioActual}" id="renderTableInventario" var="inventario"  scrollable="true" scrollHeight="250">
                                    <f:facet name="header">
                                        Inventario Calculado
                                    </f:facet>
                                    <p:column headerText="Producto">
                                        <h:outputText value="#{inventario.producto.descripcion}" />
                                    </p:column>
                                    <p:column headerText="Valor Unitario">
                                        <h:outputText value="#{beanRegistroDevolucionEntrada.obtenerValorUnitarioAux()}" >
                                            <f:convertNumber type="currency" integerOnly="true"/>
                                        </h:outputText>
                                    </p:column>
                                    <p:column>
                                        <p:commandButton icon="fa fa-search"  actionListener="#{beanRegistroDevolucionEntrada.obtenerSerialesProducto(inventario)}"  oncomplete="PF('dlg2').show();" update=":#{p:component('serialProductoTable')} "/>
                                    </p:column>
                                </p:dataTable>
                            </div>  
                            <div class="ui-g-6">
                                <p:dataTable  value="#{beanRegistroDevolucionEntrada.serialesRegistrados}"  sortBy="#{seriales.serial}"  scrollable="true" scrollHeight="250" id="serailes" var="seriales">
                                    <f:facet name="header">
                                        Productos Seleccionados
                                    </f:facet>
                                    <p:column headerText="Producto">
                                        <h:outputText value="#{seriales.idInventario.producto.descripcion}" />
                                    </p:column>
                                    <p:column headerText="Serial">
                                        <h:outputText value="#{seriales.serial}" />
                                    </p:column>
                                    <p:column headerText="Garantia Mes">
                                        <h:outputText value="#{seriales.garantiaMes}" />
                                    </p:column>
                                    <p:column>
                                        <p:commandButton icon="fa fa-trash" actionListener="#{beanRegistroDevolucionEntrada.eliminarSerial(seriales)}" update=":#{p:component('serailes')}" />
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>
                    </div>
                    <p:dialog header="Seriales" widgetVar="dlg2" modal="true">
                        <p:dataTable id="serialProductoTable"  sortBy="#{serial.serial}" value="#{beanRegistroDevolucionEntrada.listInventariosSeriales}" var="serial" selection="#{beanRegistroDevolucionEntrada.listaSeleccionSeriales}"  scrollable="true" scrollHeight="250" rowKey="#{serial.idInventarioSerial}">
                            <f:facet name="header">
                                Seriales del producto #{beanRegistroDevolucionEntrada.seleccionInventario.producto.descripcion}
                            </f:facet>
                            <p:column selectionMode="multiple"  style="width:16px;text-align:center"/>
                            <p:column headerText="Serial" >
                                <p:outputLabel value="#{serial.serial}"/>
                            </p:column>
                            <p:column headerText="Garantia Mes" >
                                <p:outputLabel value="#{serial.garantiaMes}"/>
                            </p:column>
                        </p:dataTable>
                        <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">
                            <p:commandButton value="Agregar productos seleccionados" actionListener="#{beanRegistroDevolucionEntrada.almacenarSeleccionados()}" update="serailes"  oncomplete="PF('dlg2').hide();"  />
                            <p:commandButton value="Cerrar" onclick="PF('dlg2').hide();" />
                        </p:panelGrid>
                    </p:dialog>
                    <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                        <p:commandButton  value="Registrar Devolucion Compra"  actionListener="#{beanRegistroDevolucionEntrada.crearDevolucionDeCompra()}"  style="width:100%" ajax="false" />
                    </p:panelGrid>
                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>