<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <title>Registro Receta de ensamble</title>
        <h:form id="frmRecetaEnsamble" >
            <p:growl id="message" showDetail="true" autoUpdate="true"  />
            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <a href="RegistroOrdenCompra.xhtml"></a>
                        <div class="card card-w-title">
                            <h1>Registrar Receta de ensamble </h1>
                            <h:panelGroup styleClass="md-inputfield">
                                <p:inputText  type="text" value="#{beanRegistroRecetaEnsamble.recetaNueva.nombreReceta}"  />
                                <label>Nombre Receta:</label>
                            </h:panelGroup>
                        </div>
                        <div class="card card-w-title">
                            <h2>
                                Añadir Productos   - Total :  <p:outputLabel  id="claseAActualizar" value="#{beanRegistroRecetaEnsamble.totalOrden}">
                                    <f:convertNumber type="currency" />
                                </p:outputLabel>
                            </h2>
                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <p:dataTable id="tblDetalleOrdenCompra" value="#{beanRegistroRecetaEnsamble.recetaNueva.detalleReceta}"  clientCache="true" 
                                             var="recetaDeEnsamble" 
                                             rowKey="#{recetaDeEnsamble}" editable="true" editMode="cell"  resizeMode="expand" >

                                    <p:column headerText="Item" width="140">
                                        <p:outputLabel value="#{recetaDeEnsamble.item}"/>
                                    </p:column>
                                    <p:column headerText="Producto" width="190">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{recetaDeEnsamble.producto.descripcion}"  /></f:facet>
                                            <f:facet name="input">

                                                <p:selectOneMenu value="#{recetaDeEnsamble.producto}" converter="omnifaces.SelectItemsConverter" filterMatchMode="startsWith" panelStyle="width:180px" filter="true"  >
                                                    <f:selectItems value="#{beanRegistroRecetaEnsamble.productos}" var="productos" itemLabel="#{productos.descripcion}" itemValue="#{productos}"/>
                                                </p:selectOneMenu>

                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    <p:column  headerText="Cantidad" width="140">
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <h:outputText value="#{recetaDeEnsamble.cantidad}">
                                                    <f:convertNumber type="number"/>
                                                </h:outputText>
                                            </f:facet>
                                            <f:facet name="input"> 
                                                <p:inputNumber value="#{recetaDeEnsamble.cantidad}"
                                                               decimalSeparator="," thousandSeparator="." decimalPlaces="0" >
                                                    <p:ajax event="change" listener="#{beanRegistroRecetaEnsamble.obtenerTotal(recetaDeEnsamble)}" update=":#{p:component('claseAActualizar')} :#{p:component('valorTotal')}" />
                                                </p:inputNumber>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    <p:column headerText="Valor Unitario" width="140">
                                        <p:cellEditor>
                                            <p:inputText value="#{recetaDeEnsamble.valorUnitario}"/>
                                            <f:facet name="output"><h:outputText value="#{recetaDeEnsamble.valorUnitario}" >
                                                    <f:convertNumber type="currency" integerOnly="true"/>
                                                </h:outputText>
                                            </f:facet>
                                            <f:facet name="input"> <p:inputNumber value="#{recetaDeEnsamble.valorUnitario}" symbol=" $" 
                                                                                  decimalSeparator="," thousandSeparator="." >
                                                    <p:ajax event="change" listener="#{beanRegistroRecetaEnsamble.obtenerTotal(recetaDeEnsamble)}" update=":#{p:component('claseAActualizar')} :#{p:component('valorTotal')}"  />
                                                </p:inputNumber>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    <p:column  headerText="Valor Total" width="140">
                                        <p:outputLabel  id="valorTotal" value="#{recetaDeEnsamble.valorTotal}">
                                            <f:convertNumber type="currency" integerOnly="true"/>
                                        </p:outputLabel>
                                    </p:column>
                                    <p:column headerText="Borrar" width="100">
                                        <p:commandButton icon="fa fa-trash" actionListener="#{beanRegistroRecetaEnsamble.eliminarProducto(recetaDeEnsamble)}" update=":#{p:component('tblDetalleOrdenCompra')}" />
                                    </p:column>
                                    <f:facet name="footer" >
                                        <p:commandButton  actionListener="#{beanRegistroRecetaEnsamble.adicionarProductoDetalle()}" icon="fa fa-plus" update="tblDetalleOrdenCompra" />
                                    </f:facet>
                                </p:dataTable>
                            </p:panelGrid>
                        </div>
                        <div class="card cardWithOutBox">

                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <h:commandButton  value="Registrar"  actionListener="#{beanRegistroRecetaEnsamble.registrarRecetaEnsamble()}"  style="width:100%" immediate="true" />
                            </p:panelGrid>

                        </div>

                    </div>
                </div>
            </div>
        </h:form>

    </ui:define>


</ui:composition>