<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <title>Registro devolucion salida</title>
        <h:form id="frmMovimientosEntrada" enctype="multipart/form-data">
            <p:growl id="message" showDetail="true" autoUpdate="true" globalOnly="true" />

            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="card card-w-title">
                            <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText  type="text" value="#{beanRegistroDevolucionSalida.numeroRadicado}"  />
                                    <label>Numero de radicado</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:commandButton value="Consultar" actionListener="#{beanRegistroDevolucionSalida.consultarBodegaProductosEnInventario()}" update="@form"/>
                                </h:panelGroup>
                            </p:panelGrid>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="card card-w-title">
                            <p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:outputLabel  value="Producto : #{beanRegistroDevolucionSalida.kardex.producto.descripcion}"  />
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:outputLabel  value="Cantidad Comprada :  #{beanRegistroDevolucionSalida.kardex.cantidad}"  />
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:calendar pattern="yyyy-MM-dd HH:mm" showButtonPanel="true" locale="es" value="#{beanRegistroDevolucionSalida.kardex.fechaMovimiento}" readonly="true" />
                                    <label>Fecha Factura:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:outputLabel  value="Bodega :  #{beanRegistroDevolucionSalida.kardex.bodega.nombre}"  />
                                </h:panelGroup>
                            </p:panelGrid>
                        </div>
                    </div>
                    <div class="card card-w-title">
                        <div class="ui-g">
                            <div class="ui-g-12">
                                <p:dataTable  value="#{beanRegistroDevolucionSalida.kardex.detalleKardexSeriales}" sortBy="#{inventario.seriales}" id="renderTableInventario" var="inventario" selection="#{beanRegistroDevolucionSalida.kardexSelection}" rowKey="#{inventario}"  scrollable="true" scrollHeight="250" >
                                    <f:facet name="header">
                                        Seriales obtenidos
                                    </f:facet>
                                    <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                                    <p:column headerText="Serial">
                                        <h:outputText value="#{inventario.seriales}" />
                                    </p:column>
                                    <p:column headerText="Garantia Mes">
                                        <h:outputText value="#{inventario.garantiaMes}" />
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>
                    </div>

                    <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                        <p:commandButton  value="Registrar Devolucion Venta"  actionListener="#{beanRegistroDevolucionSalida.crearDevolucionDeCompra()}"  style="width:100%" ajax="false" />
                    </p:panelGrid>




                </div>
            </div>
        </h:form>

    </ui:define>


</ui:composition>