<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <title>Registro Orden Compra</title>
        <h:form id="frmOrdenCompra" >
            <p:growl id="message" showDetail="true" autoUpdate="true"  />

            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <a href="RegistroOrdenCompra.xhtml"></a>
                        <div class="card card-w-title">
                            <h1>Registrar Orden De Compra </h1>
                            <p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText  type="text" value="#{beanRegistroOrdenCompra.nombreContacto}"  />
                                    <label>Nombre Contacto:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanRegistroOrdenCompra.apellidoContacto}" />
                                    <label>Apellido Contacto:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanRegistroOrdenCompra.empresa}" />
                                    <label>Empresa / Company: </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanRegistroOrdenCompra.nit}" />
                                    <label>Nit / Identity:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanRegistroOrdenCompra.direccion}" />
                                    <label>Direccion / Address:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanRegistroOrdenCompra.contactos}" />
                                    <label>Contacto / Contact:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanRegistroOrdenCompra.ciudad}" />
                                    <label>Ciudad-Pais / City Country:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanRegistroOrdenCompra.telefono}" />
                                    <label>Telefono / Phone:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanRegistroOrdenCompra.correo}" />
                                    <label>Correo / Email:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:calendar value="#{beanRegistroOrdenCompra.fecha}" />
                                    <label>Fecha / Date:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanRegistroOrdenCompra.tipoCompra}" />
                                    <label>Tipo Compra / Purchase Type:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanRegistroOrdenCompra.terminoNegociacion}" />
                                    <label>Termino Negociacion / Incoterm:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanRegistroOrdenCompra.formaDePago}" />
                                    <label>Forma de Pago / Pay Form:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanRegistroOrdenCompra.direccionEntrega}" />
                                    <label>Direccion de Entrega / Delivery Address:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanRegistroOrdenCompra.procesado}" />
                                    <label>Procesado / Processed:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanRegistroOrdenCompra.aprobado}" />
                                    <label>Aprobado / Aproved:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputTextarea value="#{beanRegistroOrdenCompra.observaciones}" />
                                    <label>Observaciones / Observations:</label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputNumber id="input6" value="#{beanRegistroOrdenCompra.impuesto}" symbol="%" 
                                                   symbolPosition="s" emptyValue="zero" maxValue="100"/> 
                                    <label>Impuestos / Taxes:</label>
                                </h:panelGroup>
                            </p:panelGrid>
                        </div>



                        <div class="card card-w-title">

                            <h2>
                                Añadir Productos   - Total :  <p:outputLabel  id="claseAActualizar" value="#{beanRegistroOrdenCompra.totalOrden}">
                                    <f:convertNumber type="currency" />
                                </p:outputLabel>
                            </h2>
                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <p:dataTable id="tblDetalleOrdenCompra" value="#{beanRegistroOrdenCompra.listDetalleOrdenDeCompra}"  clientCache="true" 
                                             var="ordenCompra" selection="#{beanRegistroOrdenCompra.detalleSeleccion}" selectionMode="single"
                                             rowKey="#{ordenCompra}" editable="true" editMode="cell"  resizeMode="expand" >

                                    <p:column headerText="Item" width="140">
                                        <p:outputLabel value="#{ordenCompra.item}"/>
                                    </p:column>
                                    <p:column headerText="Producto" width="190">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{ordenCompra.producto.descripcion}" /></f:facet>
                                            <f:facet name="input">

                                                <p:selectOneMenu value="#{ordenCompra.producto}" converter="omnifaces.SelectItemsConverter" filterMatchMode="startsWith" panelStyle="width:180px" filter="true"  >
                                                    <p:ajax event="valueChange" update="tblDetalleOrdenCompra"
                                                            listener="#{beanRegistroOrdenCompra.validarProductoReceta(ordenCompra)}" />
                                                    <f:selectItems value="#{beanRegistroOrdenCompra.productos}" var="productos" itemLabel="#{productos.descripcion}" itemValue="#{productos}"/>
                                                </p:selectOneMenu>

                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    <p:column  headerText="Cantidad" width="140">
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <h:outputText value="#{ordenCompra.cantidad}">
                                                    <f:convertNumber type="number"/>
                                                </h:outputText>
                                            </f:facet>
                                            <f:facet name="input"> 
                                                <p:inputNumber value="#{ordenCompra.cantidad}"
                                                               decimalSeparator="," thousandSeparator="." decimalPlaces="0" >
                                                    <p:ajax event="change" listener="#{beanRegistroOrdenCompra.obtenerTotal(ordenCompra)}" update=":#{p:component('claseAActualizar')} :#{p:component('valorTotal')}" />
                                                </p:inputNumber>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    <p:column headerText="Valor Unitario" width="140">
                                        <p:cellEditor>
                                            <p:inputText value="#{ordenCompra.valorUnitario}"/>
                                            <f:facet name="output"><h:outputText value="#{ordenCompra.valorUnitario}" >
                                                    <f:convertNumber type="currency" integerOnly="true"/>
                                                </h:outputText>
                                            </f:facet>
                                            <f:facet name="input"> <p:inputNumber disabled="#{ordenCompra.producto.recetaReferenciada != null}"  value="#{ordenCompra.valorUnitario}" symbol=" $" 
                                                                                  decimalSeparator="," thousandSeparator="." >
                                                    <p:ajax event="change" listener="#{beanRegistroOrdenCompra.obtenerTotal(ordenCompra)}" update=":#{p:component('claseAActualizar')} :#{p:component('valorTotal')}"  />
                                                </p:inputNumber>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    <p:column  headerText="Valor Total" width="140">
                                        <p:outputLabel  id="valorTotal" value="#{ordenCompra.valorTotal}">
                                            <f:convertNumber type="currency" integerOnly="true"/>
                                        </p:outputLabel>
                                    </p:column>
                                    <p:column headerText="Borrar" width="100">
                                        <p:commandButton icon="fa fa-trash" actionListener="#{beanRegistroOrdenCompra.eliminarProducto(ordenCompra)}" update=":#{p:component('tblDetalleOrdenCompra')}" />
                                    </p:column>
                                    <p:column headerText="Agregar Seriales" width="100">
                                        <p:commandButton icon="fa fa-plus" actionListener="#{beanRegistroOrdenCompra.añadirCamposParaSeriales(ordenCompra)}" update=":#{p:component('tblDetalleSeriales')}"  onclick="PF('serial').show();" >
                                            <f:setPropertyActionListener value="#{ordenCompra}" target="#{beanRegistroOrdenCompra.detalleSeleccion}" />
                                        </p:commandButton>
                                    </p:column>

                                    <f:facet name="footer" >
                                        <p:commandButton  actionListener="#{beanRegistroOrdenCompra.adicionarProductoDetalle()}" icon="fa fa-plus" update="tblDetalleOrdenCompra" />
                                    </f:facet>
                                </p:dataTable>
                                <p:dialog  closable="true" header="Ingresa los seriales de los productos" widgetVar="serial" modal="true" height="100">
                                    <p:dataTable id="tblDetalleSeriales" value="#{beanRegistroOrdenCompra.detalleSeriales}"
                                                 var="serialProducto" selection="#{beanRegistroOrdenCompra.detalleSeleccionSerialProducto}" selectionMode="single"
                                                 rowKey="#{serialProducto}" editable="true" editMode="cell" >
                                        <p:ajax event="cellEdit" listener="#{beanRegistroOrdenCompra.validarListaLlena(serialProducto)}" update="tblDetalleSeriales :#{p:component('btnRenderAceptar')}" />
                                        <p:column headerText="Serial">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{serialProducto.serial}" />
                                                </f:facet>
                                                <f:facet name="input">
                                                    <p:inputText value="#{serialProducto.serial}"/>
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        <p:column headerText="Garantia Mes">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{serialProducto.garantiaMes}" />
                                                </f:facet>
                                                <f:facet name="input">
                                                    <p:inputText value="#{serialProducto.garantiaMes}"/>
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                    </p:dataTable>
                                    <p:commandButton id="btnRenderAceptar"  value="Aceptar"  onclick="PF('serial').hide();" actionListener="#{beanRegistroOrdenCompra.notificarMensajeCargadoCompleto()}"  disabled="#{beanRegistroOrdenCompra.renderBotonAceptar}" />
                                </p:dialog>
                            </p:panelGrid>
                        </div>
                        <div class="card cardWithOutBox">

                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <h:commandButton  value="Registrar"  actionListener="#{beanRegistroOrdenCompra.registrarOrdenCompra()}"  style="width:100%" immediate="true" />
                            </p:panelGrid>

                        </div>

                    </div>
                </div>
            </div>
        </h:form>

    </ui:define>


</ui:composition>