<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <title>Registro Productos Entrada</title>
        <h:form enctype="multipart/form-data">
            <p:growl id="message" showDetail="true" autoUpdate="true"  />

            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="card card-w-title">
                        <div class="ui-g-12">
                            <h1>Registrar Producto</h1>
                            <p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText  type="text" value="#{beanRegistroProducto.descripcion}"  />
                                    <label>Descripcion: </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanRegistroProducto.marca}" />
                                    <label>Marca: </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanRegistroProducto.modelo}" />
                                    <label>Modelo: </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText value="#{beanRegistroProducto.codigoProducto}" />
                                    <label>Codigo: </label>
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:selectBooleanCheckbox value="#{beanRegistroProducto.stockMinimo}" itemLabel="Stock Minimo">
                                        <p:ajax update="inputStock" listener="#{beanRegistroProducto.mostrarMsjStockMinimo}" />
                                    </p:selectBooleanCheckbox>
                                </h:panelGroup>
                                <h:panelGroup  styleClass="md-inputfield">
                                    <p:inputText id="inputStock" value="#{beanRegistroProducto.stockMinimoProducto}" disabled="#{!beanRegistroProducto.isRenderStockMinimo}" />
                                    <label>Stock Minimo: </label>
                                </h:panelGroup>
                            </p:panelGrid>
                        </div>
                        <div class="ui-g-12">
                            <h2>
                                Cargar Foto
                            </h2>
                            <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:commandButton value="Cargar manualmente" actionListener="#{beanRegistroProducto.cargarManualMente()}" action="/cargarManual"  />
                                </h:panelGroup>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:commandButton value="Tomar foto" actionListener="#{beanRegistroProducto.tomarFoto()}" action="/cargarConFoto"  />
                                </h:panelGroup>
                            </p:panelGrid>

                        </div>
                        <div class="ui-g-12 text-center">
                            <h3>
                                Asocia los proveedores que vende este producto a registrar
                            </h3>
                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <p:pickList value="#{beanRegistroProducto.proveedoresPick}"  var="proveedores" effect="bounce"
                                            itemValue="#{proveedores}" itemLabel="#{proveedores}"  converter="proveedor" showSourceFilter="true"  showTargetFilter="true" 
                                            filterMatchMode="contains" responsive="true">
                                    <f:facet name="sourceCaption">Disponible</f:facet>
                                    <f:facet name="targetCaption">Usados</f:facet>
                                    <p:column style="width:85%;">
                                        <h:outputText value="#{proveedores.razonSocial}" />
                                    </p:column>
                                </p:pickList>
                            </p:panelGrid>
                        </div>
                        <div class="card cardWithOutBox">

                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <p:commandButton  value="Registrar" icon="ui-icon-send"  action="#{beanRegistroProducto.registrarProducto()}" iconPos="left" style="width:100%" ajax="false"  />
                            </p:panelGrid>

                        </div>
                    </div>
                </div>
            </div>
        </h:form>

    </ui:define>

</ui:composition>