<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Sample</ui:define>

    <ui:define name="content">
        <h:form>
            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="card card-w-title">
                            <p:panelGrid columns="1" columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4" layout="grid" styleClass="ui-panelgrid-blank form-group" style="border:0px none; background-color:transparent;">
                                <h:commandLink value="Exportar en EXCEL"  actionListener="#{beanGestionKardex.exportarKardex()}">
                                    <p:dataExporter type="xls" target="tblReporte" fileName="ReporteKardex"/>
                                </h:commandLink>                           
                            </p:panelGrid>



                            <p:dataTable id="tblReporte" value="#{beanGestionKardex.kardexReporteGeneral}" var="kardex" style="display: none;" >
                                <p:column headerText="Codigo Producto">
                                    <p:outputLabel value="#{kardex.codigoProducto}" />
                                </p:column>
                                <p:column headerText="Nombre Producto">
                                    <p:outputLabel value="#{kardex.nombreProducto}" />
                                </p:column>
                                <p:column headerText="Ubicacion">
                                    <p:outputLabel value="#{kardex.ubicacion}" />
                                </p:column>
                                <p:column headerText="Cantidad">
                                    <p:outputLabel value="#{kardex.cantidad}"/>
                                </p:column>
                                <p:column headerText="Valor Unitario">
                                    <p:outputLabel value="#{kardex.valorUnitario}"/>
                                </p:column>
                                <p:column headerText="Valor Total">
                                    <p:outputLabel value="#{kardex.valorTotal}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
