ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current
{
    background: #03A9F4;
    color: white;

}
.ui-datepicker .ui-datepicker-buttonpane button
{
    background: #03A9F4;
    color: white;
}
.ui-fluid .ui-selectonemenu
{

    margin-top: -1px;
}
#mierdsa
{
    margin-top: -4px;
}
.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-rpp-options{    
    background: transparent;
    color: white;
    border: 0px;
    border-bottom: 2px solid white;
    outline: none;
}
.lblFormGray
{
    color: #9A9A9A; 
}
.text-center
{

    text-align: center;
}
.botonWhite
{
    background: transparent;
    color: white !important;
    border: 0px solid;
    background-color: transparent !important;
}
.btnSizeMitad
{
    width: 50%;
}
.menuToggle
{
    height: 30px;
}


@media screen and (max-width: 640px) 
{

    #mierdsa
    {
        margin-top: 0px;
    }
    .menuToggle
    {
        width: 100%;
        height: 77px !important;
    }
    .menuToggle2
    {
        height: 77px !important;
    }

}

