<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pu="http://primefaces.org/ultima">

    <h:form id="menuform"> 
        <div class="layout-menu #{guestPreferences.menuClass}">
            <div class="nano">
                <div class="nano-content menu-scroll-content">
                    <ui:fragment rendered="#{guestPreferences.profileMode == 'inline' and guestPreferences.menuLayout != 'menu-layout-static menu-layout-horizontal'}">
                        <div class="profile">
                            <div class="profile-image"></div>
                            <a id="profile-options" href="#">
                                <span class="profile-name"><p:outputLabel value="#{beanUsuarios.obtenerNombreCompleto()}"/></span>
                                <i class="material-icons">&#xE313;</i>
                            </a>
                        </div>


                        <ul id="profile-menu" class="ultima-menu">
                            <li role="menuitem">
                                <a href="#dlg"   class="ripplelink">
                                    <i class="material-icons">&#xE7FD;</i>
                                    <span>Perfil</span>
                                </a>

                            </li>
                            <p:remoteCommand name="eliminarSesion2" actionListener="#{beanUsuarios.eliminarSesion()}" />

                            <li role="menuitem">
                                <a href="#dlg"   class="ripplelink">
                                    <i class="material-icons">&#xE8B9;</i>
                                    <span>Configuracion</span>
                                </a>

                            </li>
                            <li role="menuitem">
                                <a  onclick="PF('confirm').show()" class="ripplelink">
                                    <i class="material-icons">&#xE8AC;</i>
                                    <span>Cerrar Session</span>
                                </a>
                            </li>
                        </ul>

                        <pu:menu widgetVar="me">
                            <p:menuitem id="um_dashboard" value="Principal"  icon="dashboard" outcome="/Principal"/>
                            <p:submenu id="um_customization" label="Usuarios" icon="&#xE54B;" styleClass="amber-badge" rendered="#{beanUsuarios.renderAdmUsuario || beanUsuarios.renderRegistroUsuario}">
                                <p:menuitem id="custom1" value="Registro de usuarios" icon="&#xe7fe;" outcome="/RegistroUsuarios" rendered="#{beanUsuarios.renderRegistroUsuario}"/>
                                <p:menuitem id="custom2" value="Adm. De Usuarios" icon="&#xe7fc;" outcome="/GestionUsuarios" rendered="#{beanUsuarios.renderAdmUsuario}"/>
                            </p:submenu>
                            <p:submenu id="proveedores" label="Proveedores" icon="&#xe558;" styleClass="amber-badge" rendered="#{beanUsuarios.renderRegistroProveedores || beanUsuarios.renderAdmProveedores}">
                                <p:menuitem id="registroProv" value="Registro de Proveedores" icon="&#xe0d0;" outcome="/RegistroProveedores" rendered="#{beanUsuarios.renderRegistroProveedores}"/>
                                <p:menuitem id="gestionProv" value="Adm. De Proveedores" icon="&#xe0ba;" outcome="/GestionProveedores" rendered="#{beanUsuarios.renderAdmProveedores}"/>
                            </p:submenu>
                            <p:submenu id="bodegas" label="Bodegas" icon="&#xe8d1;" styleClass="amber-badge" rendered="#{beanUsuarios.renderRegistroBodegas || beanUsuarios.renderAdmBodegas}">
                                <p:menuitem id="registroBode" value="Registro de Bodegas" icon="&#xe89b;" outcome="/RegistroBodegas" rendered="#{beanUsuarios.renderRegistroBodegas}"/>
                                <p:menuitem id="gestionBode" value="Adm. De Bodegas" icon="&#xe7f1;" outcome="/GestionBodegas" rendered="#{beanUsuarios.renderAdmBodegas}"/>
                            </p:submenu>
                            <p:submenu id="productos" label="Productos" icon="&#xe8b1;" styleClass="amber-badge" rendered="#{beanUsuarios.renderRegistroProductos || beanUsuarios.renderAdmProductos}" >
                                <p:menuitem id="registroProduc" value="Registro de Productos" icon="&#xe02f;" outcome="/RegistroProductos" rendered="#{beanUsuarios.renderRegistroProductos}"/>
                                <p:menuitem id="gestionProduc" value="Adm. De Productos" icon="&#xe8f9;" outcome="/GestionProductos" rendered="#{beanUsuarios.renderAdmProductos}"/>
                            </p:submenu>
                            <p:submenu id="clientes" label="Clientes" icon="&#xe8a3;" styleClass="amber-badge" rendered="#{beanUsuarios.renderRegistroClientes || beanUsuarios.renderAdmClientes || beanUsuarios.renderRegistroSedes || beanUsuarios.renderAdmSedes}">
                                <p:menuitem id="registroClientes" value="Registro de Clientes" icon="&#xe55a;" outcome="/RegistroClientes" rendered="#{beanUsuarios.renderRegistroClientes}"/>
                                <p:menuitem id="gestionoClientes" value="Gestion de Clientes" icon="&#xe553;" outcome="/GestionClientes" rendered="#{beanUsuarios.renderAdmClientes}"/>
                                <p:menuitem id="registroSede" value="Registro de Sedes" icon="&#xe402;" outcome="/RegistroSedes" rendered="#{beanUsuarios.renderRegistroSedes}"/>
                                <p:menuitem id="gestionSede" value="Adm. De Sedes" icon="&#xe543;" outcome="/GestionSedes" rendered="#{beanUsuarios.renderAdmSedes}"/>
                            </p:submenu>
                            <p:submenu id="movimientos" label="Movimientos" icon="&#xe040;" styleClass="amber-badge" rendered="#{beanUsuarios.renderRegistroEntradas || beanUsuarios.renderRegistroSalidas || beanUsuarios.renderRegistroDevEntrada || beanUsuarios.renderRegistroDevSalida}" >
                                <p:menuitem id="entradas" value="Registro de Entradas" icon="&#xe837;" outcome="/RegistroMovimientosEntrada" rendered="#{beanUsuarios.renderRegistroEntradas}"/>
                                <p:menuitem id="salidas" value="Registro Salidas" icon="&#xe836;" outcome="/RegistroMovimientosSalida" rendered="#{beanUsuarios.renderRegistroSalidas}"/>
                                <p:menuitem id="salidas3" value="Registro Dev. Entrada" icon=" &#xe15f;" outcome="/RegistroMovimientosDevolucionEntrada" rendered="#{beanUsuarios.renderRegistroDevEntrada}"/>
                                <p:menuitem id="salidas2" value="Registro Dev. Salida" icon="&#xe8d4;" outcome="/RegistroMovimientosDevolucionSalida" rendered="#{beanUsuarios.renderRegistroDevSalida}"/>
                            </p:submenu>
                            <p:submenu id="ordenCompra" label="Orden de Compra" icon="&#xe8a0;" styleClass="amber-badge" rendered="#{beanUsuarios.renderRegistroOrdenCompra || beanUsuarios.renderAdmOrdenCompra}" >
                                <p:menuitem id="registroOrdenCompra" value="Registrar Orden De C." icon="&#xe89d;" outcome="/RegistroOrdenCompra" rendered="#{beanUsuarios.renderRegistroOrdenCompra}"/>
                                <p:menuitem id="ssss" value="Gestion de orden de C" icon="&#xe89e;" outcome="/GestionOrdenDeCompra" rendered="#{beanUsuarios.renderAdmOrdenCompra}"/>
                            </p:submenu>
                            <p:submenu id="recetEnsasmble" label="Receta de ensamble" icon="&#xe90f;" styleClass="amber-badge" rendered="#{beanUsuarios.renderRegistroRecetaEnsamble || beanUsuarios.renderAdmRecetaEnsamble}" >
                                <p:menuitem id="sasdsadw" value="Registrar Receta." icon="&#xe05c;" outcome="/RegistroRecetasEnsamble" rendered="#{beanUsuarios.renderRegistroRecetaEnsamble}"/>
                                <p:menuitem id="sswwwss" value="Gestion Receta" icon="&#xeb3d;" outcome="/GestionRecetaEnsamble" rendered="#{beanUsuarios.renderAdmRecetaEnsamble}"/>
                            </p:submenu>
                            <p:menuitem  value="Gestion de Kardex" icon="&#xe89e;" outcome="/GestionKardex" rendered="#{beanUsuarios.renderAdmKardex}"/>
                            <p:menuitem id="dww" value="Reporte Kardex General" icon="&#xe850;" outcome="/ReporteKardex" rendered="#{beanUsuarios.renderReporteKardex}"/>

                        </pu:menu>
                        <p:confirmDialog  header="Estas seguro ?" widgetVar="confirm" global="true" showEffect="fade" hideEffect="fade">
                            <p:button outcome="/Acceso" value="Si" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" onclick="eliminarSesion2()" />
                            <p:button value="No" outcome="/Principal" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                        </p:confirmDialog>
                    </ui:fragment>
                </div>
            </div>
        </div>
    </h:form>
</ui:composition>