<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pu="http://primefaces.org/ultima">

    <div class="topbar clearfix">
        <div class="topbar-left">            
            <div class="logo"></div>
        </div>

        <div class="topbar-right">
            <a id="menu-button" href="#">
                <i></i>
            </a>

            <a id="topbar-menu-button" href="#">
                <i class="material-icons">&#xE5D4;</i>
            </a>

            <a href="#" class="rightpanel-btn">
                <i class="material-icons">&#xE5D2;</i>
            </a>

            <ul class="topbar-items fadeInDown animated">
                <ui:fragment rendered="#{guestPreferences.profileMode == 'overlay' || guestPreferences.menuLayout == 'menu-layout-static menu-layout-horizontal'}">
                    <li class="profile-item">
                        <a href="#">                            
                            <div class="profile-image"></div>
                            <span class="topbar-item-name">Geovanny Tovar</span>
                        </a>
                        <p:remoteCommand name="eliminarSesion2" actionListener="#{beanUsuarios.eliminarSesion()}" />
                        <ul class="ultima-menu animated">
                            <li role="menuitem">
                                <a  onclick="PF('confirm').show()">
                                    <i class="material-icons">&#xE8AC;</i>
                                    <span>Cerrar Session</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <p:confirmDialog  header="Estas seguro ?" widgetVar="confirm" global="true" showEffect="fade" hideEffect="fade">
                        <p:button outcome="/Acceso" value="Si" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" onclick="eliminarSesion2()" />
                        <p:button value="No" outcome="/Principal" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                    </p:confirmDialog>
                </ui:fragment>
                <li>
                    <a href="#">
                        <i class="topbar-icon material-icons">&#xE8B8;</i>
                        <span class="topbar-item-name">Configuracion General</span>
                    </a>
                    <ul class="ultima-menu animated">
                        <li role="menuitem">
                            <a href="#">
                                <i class="material-icons">&#xe85d;</i>
                                <span>Inventario</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="material-icons">&#xe7ef;</i>
                                <span>Usuarios</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="material-icons">&#xe322;</i>
                                <span>Parametros</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="material-icons">&#xeb3f;</i>
                                <span>Reportes</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="search-item">
                    <h:panelGroup styleClass="md-inputfield">
                        <p:inputText />
                        <label>Buscar</label>
                        <i class="topbar-icon material-icons">&#xE8B6;</i>
                    </h:panelGroup>

                </li>
            </ul>
        </div>
    </div>

</ui:composition>